@import url(default.css);
@import url(font.css);
@import url(common.css);

header {
    height: 100px;
}
header .wrapper {
    display: flex; /*logo-gnd 좌우로 배치*/
    justify-content: space-between;
}
header .logo {
    margin: 19px 0 0 0;
}
header .gnb ul {
    display: flex; /*li를 좌우로 배치하려고*/
}
header .gnb ul li a {
    display: block; /* a는 기본이 black*/
    line-height: 100px; /* header의 높이와 동일하게*/
    font-size: 22px; 
    color: #000;
    padding: 0 25px 0 25px;    
    /* em은 상대값 - 현재 글자크기를 1em이라고 바라봄 em을 많이 사용할 예정*/
}

.visual { /* 비쥬얼사진 크기 컬러 사이즈 등 한번에 주는 것을 url 마지막엔 무조건 / cover*/
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    color: #fff;
    height: 800px;
}
.visual h2 {
    font-size: 60px;
    font-weight: 800; /*px붙이지 않기*/
    line-height: 1.4; /* 140%*/
    padding: 256px 0 20px 0; /*margin을 해보고 맞지않으면 padding으로 체인지*/
}

.biz {
    margin: 169px 0 0 0;
}
.biz .art,
.biz .sch {
    margin: 55px 0 0 0;
}
.biz .wrapper {
    display: flex; /*사진을 좌우로 배치*/
    justify-content: space-between;
}
.biz .txt {
    width: 480px; /* 디자인 할때 여백 사이즈 꼭 잘 맞춰서 하기
                    디자인을 잘못해서 좁아서 버튼이 옆으로 배열이 못들어 간것임*/
    margin: 38px 0 0 0;
}
.biz .txt strong {
    color: #9D0722;
    display: block;
}
.biz .txt h2 {
    font-size: 30px;
    font-weight: 800;
    line-height: 1.4;
    color: #000;
    margin: 12px 0 14px 0;
}
.biz .txt h2 em {
    color: #9D0722;
}
.biz .txt .sub_tit {
    font-size: 24px;
    line-height: 1.4;
    margin: 0 0 20px 0;
}
.biz .txt .btn_wrap {
    margin: 45px 0 0 0;
    display: flex; 
    flex-wrap: wrap;
    gap: 16px 16px; 
}
.biz .txt .btn_wrap a {
    display: block;
    border: 1px solid #9D0722;
    color: #9D0722;
    padding: 17px 25px 17px 25px;
    border-radius: 30px;
    /* transition: 0.5s; 마우스 커서 올렸을때 나오는 시간초 */
}
.biz .txt .btn_wrap a:hover { /*a에 마우스를 올렸을떄*/
    background-color: #9D0722;
    color: #fff; /*border는 배경색과 같아서 유지 보더가 삭제되면 넓이와 옾이가 바뀜*/
} 
.biz .photo {
    overflow: hidden;
    width: 600px;
    height: 500px;
    border-radius: 30px;
}
.biz .photp img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.community {
    margin: 123px 0 0 0;
    color: #fff;
    position: relative; /*before 정렬의 기준*/
}
.community::before {
    content: ""; /*필수값 ""필수로 적어야 적용됨*/
    position: absolute; /*community 정렬의 기준*/
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 859px;
    /*absolute를 주는 경우 반드시 좌우의 위치(left,right), 위아래 위치(top,bottom)
    정렬값을 줘야 함.*/
    background: url(../images/community_bg.jpg) no-repeat center center / cover;
}
.community .news {
    padding: 155px 0 0 0;
}
.community .news .wrapper {
    display: flex; /* 타이트와 리스트를 가운데로 배치*/
    justify-content: space-between;
    position: relative; /*more 정렬의 기준*/
}
.community .news .tit h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.4;
    margin: 0 0 10px 0;
}

.community .news .list {
    width: 859px;
}
.community .news .list ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.community .news .list ul li a {
    display: flex; /*h3-스판 좌우배치하려고*/
    justify-content: space-between;
    align-items: center; /*h3와 span텍스트 사이즈가 서로 다를때 align-items: center 넣어주면 good */
    padding: 39px 0 39px 0;
}
.community .news .list ul li a h3 {
    font-size: 25px;
    line-height: 1.4;
    margin: 0 0 10px 0;

    /*1줄 제안 조건 - 넓이가 제한되어 있어야 함*/
    width: 475px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.community .news .list ul li a:hover h3 {
    color: #fff;
    font-weight: 800;
}
.community .news .list ul li a span {
    color: rgba(255, 255, 255, 0.8);
}
.community .news a.more {
    display: inline-block;
    border: 1px solid #fff;
    padding: 17px 25px 17px 25px;
    border-radius: 30px;
    /* transition: 0.5s; */
    position: absolute; /*wrapper 를 기준으로 정렬*/
    left: 0;
    top: 132px;
}
.community .news a.more:hover {
    background-color: #fff;
    color: #9D0722;
}
.community .media {
    margin: 120px 0 0 0;
}
.community .media .wrapper {
    position: relative; /*more 정렬의 기준*/
}
.community .media .tit {
    display: flex; /*h2 - a 좌우배치*/
    justify-content: space-between;
    align-items: center;
}
.community .media .tit h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.4;
    margin: 0 0 10px 0;
}

.community .media .list {
    margin: 58px 0 0 0;
}
.community .media .list ul {
    display: flex; /*li를 좌우로 배치*/
    justify-content: space-between;
}
.community .media .list ul li {
    width: 299px;
}
.community .media .list ul li a {
    display: block;
}
.community .media .list ul li a .photo {
    overflow: hidden;
    height: 170px; /*넓이는 이미 li에서 줬기떄문에 높이만 주면 됨*/
    border-radius: 10px;
}
.community .media .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s; /*이미지를 마우스 오버할때 천천히 움직여*/
    /*transition 이미지를 마우스 오버했을때 움직이는 속도를 나타낼때 사용*/
}
.community .media .list ul li a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1); /*마지막은 꼭 1*/
    /*transform 이것만 사용하게 되면 마우스 커서했을때 따깍따깍 좀 딱딱하게 표현.
    그래서 위에 207번에 transition 이것을 적용하면 좀 더 부드럽게 표현 할 수 있음*/
}
.community .media .list ul li a h3 {
    font-size: 20px;
    color: #000;
    letter-spacing: -0.02em;
    margin: 29px 0 0 0;

    /*2줄 제한 - 조건 넓이가 있어햐 함*/
    line-height: 1.4;
    height: 2.8em; /*행간 * 줄수 = 단위는 em*/
    overflow: hidden;
    /*호환성이 낮은 일부 브라우저에서만 되는 속성 - css오류검사에서 경고 처리*/
    display: -webkit-box; /*글자가 길때 뒤에 ... 으로 표시되는 것*/
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.community .media a.more {
    display: inline-block;
    border: 1px solid #fff;
    padding: 17px 25px 17px 25px;
    border-radius: 30px;
    position: absolute; /*wrapper를 기준으로 정렬*/
    right: 0;
    top: -12px;
}
.community .media a.more:hover {
    background-color: #fff;
    color: #9D0722;
}


footer {
    margin: 120px 0 0 0;
    padding: 88px 0 49px 0;
    background-color: #1D1D1D;
    color: rgba(255, 255, 255, 0.8);
}
footer .wrapper {
    display: flex; /*inner-family_site 좌우배치*/
    justify-content: space-between;
}
footer .inner .f_nav ul  {
    display: flex; /*li를 좌우로 배치*/
    gap: 0 43px;
}
footer .inner .f_nav ul li {
    position: relative; /*after 정렬의 기준*/
}
footer .inner .f_nav ul li::after {
    content: ""; /*필수*/
    position: absolute;
    right: -21px;
    top: 4px;
    width: 1px;
    height: 13px;
    background-color: rgba(255, 255, 255, 0.2);
} 
footer .inner .f_nav ul li:last-child::after {
    display: none; /*마지막 li 짝대기 숨김처리*/
}
footer .inner .f_nav ul li a {
    display: block;
    position: relative;  /*after 정렬의 기준*/
 }
footer .inner .f_nav ul li a::after {
    content: "";
    position: absolute; /*a를 기준으로 정렬*/
    left: 0;
    bottom: 0;
    width: 0; 
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    transition: 0.3s; /*마우스 커서했을때 하단에 짝대기 나와서 움직이는 속도*/
}
footer .inner .f_nav ul li a:hover::after {
    width: 100%; /*기준이 되는 a의 100%*/
}
footer .inner .f_info {
    margin: 49px 0 42px 0;
}
footer .inner .f_info .group {
    display: flex;
    gap: 0 28px;/*위아래-좌우*/
}
footer .family_site button {
    width: 214px;
    line-height: 49px; /*행간으로 높이를 주면 글자는 위아래 가운데*/
    background-color: #9D0722;
    color: #fff;
    display: block; /*디스플레이를 블록으로 주는게 안전*/
    text-align: left;
    padding: 0 0 0 29px;
    position: relative; /*after 정렬의 기준*/
}
footer .family_site button::after {
    content: "";
    width: 8px;
    height: 8px;
    border-color: #fff;
    border-style: solid;
    border-width: 0 0 3px 3px;
    position: absolute; /*button을 기준으로 정렬*/
    right: 28px;
    top: 18px;
    transform: rotate(-45deg);
} 