@import url(default.css);
@import url(fonts.css);
@import url(common.css);

header {
    position: fixed; /* 무조건 body를 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-h);
    color: var(--color-white);
    fill: var(--color-white); /* svg 아이콘 색상 */
    display: flex; /* logo - gnb - util 좌우 배치 */
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--wrapper-margin); /* 위아래-좌우 */
}
header .logo a {
    display: block;
    width: 200px;
    height: 30px;
    background: url(../images/logo_w.svg) no-repeat center center / contain;
}
header .util {
    display: flex; /* search-mypage 좌우배치 */
}
header .util .search .sch_open {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
}
header .util .search .sch_open i {
    display: block;
    width: 17.58px;
}
header .util .mypage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
}
header .util .mypage i {
    display: block;
    width: 18px;
}

/*header가 fixed되었을때*/
header.fixed {
    background-color: var(--color-white);
    color: var(--color-title);
    fill: var(--color-basic);
}
header.fixed .logo a {
    background-image: url(../images/logo.svg);
}

/************************* 시작 : pc버전 메뉴 ************************************/
/* 1024이하는 메뉴가 접힘..  1025이상일때 스타일 */
@media screen and (min-width:1025px){
    header .gnb .gnb_open,
    header .gnb .gnb_wrap .gnb_logo,
    header .gnb .gnb_wrap .gnb_close {
        display: none; /* 모바일에서만 보임 */
    }
    header .gnb .gnb_wrap ul.depth1 {
        display: flex; /* li를 좌우로 배치 */
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        position: relative; /* depth2 정렬 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        font-size: 22px;
        font-weight: var(--font-weight-bold);
        line-height: var(--header-h);
        padding: 0 1.3636em;
        white-space: nowrap; 
        /* 행간이 높아서 2줄이 되면 이상함. 그래서 무조건 1줄로 나오게함 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        position: absolute; /* li를 기준으로 정렬 */
        left: 50%; /* li 넓이의 50% */
        transform: translateX(-50%); /* depth2 넓이의 50% */
        top: calc(var(--header-h) - 14px);
        background-color: var(--color-main);
        border-radius: 10px;
        border-top: 0;
        min-width: 100%; /* li 넓이의 100% */
        padding: 20px 25px;
        display: none; /* 오버했을때만 나옴 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        padding: 2px 0;
        white-space: nowrap; /* 줄바꿈 금지 */
        text-align: center;
        color: var(--color-white);
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover {
        font-weight: var(--font-weight-bold);
    }

    /* 메뉴에 오버했을때 */
    header.menu_pc {
        background-color: var(--color-white);
        color: var(--color-title);
        fill: var(--color-basic);
    }
    header.menu_pc .logo a {
        background-image: url(../images/logo.svg);
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > a {
        color: var(--color-main);
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > ul.depth2 {
        display: block !important; /* 2차메뉴 나옴
                                     !important하위메뉴 쫙쫙 나오는 표현*/
    }
}/*@media*/
/* 1025이상에서 1280이하 그 사이에서만 적용  */
@media screen and (min-width:1025px) and (max-width:1280px){
    header .logo a {
        width: 180px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        font-size: 20px;
    }
}
/************************* 끝 : pc버전 메뉴 ************************************/
/************************* 시작 : 모바일 ************************************/
@media screen and (max-width:1024px){
            header {
                padding-right: 0;
                height: var(--header-var);
            }
            header .logo a {
                /* width: 145px;
                height: 22px; */
                width: clamp(145px, 20vw, 200px);
                /* 최소값, 평소의값, 최대값 
                    100vw가 브라우저의 넓이 */
            }
            header .util {
                display: none; /* 숨김 */
            }
            header .gnb .gnb_open {
                display: flex; /* i태그 가운데 정렬 */
                justify-content: center;
                align-items: center;
                width: var(--header-var);
                height: var(--header-var);
            }
            header .gnb .gnb_open i {
                display: block;
                width: 36.16%;
            }
            header .gnb .gnb_wrap {
                /* display: none; */
                position: absolute; /* header를 기준으로 정렬 */
                right: -110%;
                top: 0;
                width: 100%;
                height: 100dvh;
                background-color: var(--color-white);
                color: var(--color-basic);
                fill: var(--color-basic);
                transition: right 0.5s;
            }
            /* 메뉴가 열렸을때  */
            header.menu_mo .gnb .gnb_wrap {
                /* display: block; */
                right: 0;
            }
            header .gnb .gnb_wrap ul.depth1 {
                margin: var(--header-var) 0 0 0;
                height: calc(100dvh - var(--header-var));
                overflow-y: auto;
                 /*auto가무슨말? 주어진 높이보다 콘텐츠가 짧으면 스크롤바가 안생김
                    콘텐츠가 더 긴 경우에만 스크롤바가 생김*/
                padding: 17px 0 0 0;/*위 여백 띄어놓기*/
            }
            header .gnb .gnb_wrap ul.depth1 > li > a {
                display: block;
                font-size: 20px;
                font-weight: var(--font-weight-bold);
                line-height: var(--line-height-title);
                color: var(--color-title);
                padding: 16px 40px 16px var(--wrapper-margin);
                position: relative; /*after 정렬의 기준*/
            }
            header .gnb .gnb_wrap ul.depth1 > li.open > a {
                color: var(--color-main);
            }
            header .gnb .gnb_wrap ul.depth1 > li > a::after {
                content: "";
                position: absolute; /*a를 기준으로 정렬*/
                right: var(--wrapper-margin);
                top: 50%; /*a의 높이의 절반*/
                transform: translateY(-50%); /*after 높이의 절반*/
                width: 15px;
                height: 8px;
                background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 9' fill='%233D3D3D' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.99996 6.33906L13.5125 0.826562C13.7 0.639062 13.9187 0.548437 14.1687 0.554687C14.4187 0.560937 14.6375 0.657812 14.825 0.845312C15.0125 1.03281 15.1062 1.25156 15.1062 1.50156C15.1062 1.75156 15.0125 1.97031 14.825 2.15781L9.06871 7.93281C8.91871 8.08281 8.74996 8.19531 8.56246 8.27031C8.37496 8.34531 8.18746 8.38281 7.99996 8.38281C7.81246 8.38281 7.62496 8.34531 7.43746 8.27031C7.24996 8.19531 7.08121 8.08281 6.93121 7.93281L1.15621 2.15781C0.968711 1.97031 0.878086 1.74844 0.884336 1.49219C0.890586 1.23594 0.987461 1.01406 1.17496 0.826563C1.36246 0.639063 1.58121 0.545313 1.83121 0.545313C2.08121 0.545313 2.29996 0.639063 2.48746 0.826563L7.99996 6.33906Z' /%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
                transition: 0.5s; /*천천히 움직여라*/
            }
            header .gnb .gnb_wrap ul.depth1 > li.open > a::after {
                transform: translateY(-50%) rotate(180deg);
                background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 9' fill='%23FF4E46' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.99996 6.33906L13.5125 0.826562C13.7 0.639062 13.9187 0.548437 14.1687 0.554687C14.4187 0.560937 14.6375 0.657812 14.825 0.845312C15.0125 1.03281 15.1062 1.25156 15.1062 1.50156C15.1062 1.75156 15.0125 1.97031 14.825 2.15781L9.06871 7.93281C8.91871 8.08281 8.74996 8.19531 8.56246 8.27031C8.37496 8.34531 8.18746 8.38281 7.99996 8.38281C7.81246 8.38281 7.62496 8.34531 7.43746 8.27031C7.24996 8.19531 7.08121 8.08281 6.93121 7.93281L1.15621 2.15781C0.968711 1.97031 0.878086 1.74844 0.884336 1.49219C0.890586 1.23594 0.987461 1.01406 1.17496 0.826563C1.36246 0.639063 1.58121 0.545313 1.83121 0.545313C2.08121 0.545313 2.29996 0.639063 2.48746 0.826563L7.99996 6.33906Z' /%3E%3C/svg%3E%0A");
            }
            header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
                margin: 10px var(--wrapper-margin) 10px var(--wrapper-margin);
                /*백색이 없는 디자인이기 때문에 margin을 사용해도 됨
                백색이 있으면 무조건 padding*/
                display: none; /*1차메뉴를 클릭할때 나옴(상세메뉴 접혀있는걸 표현)*/
            }
            header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 >li {
                border-bottom: 1px solid var( --color-line2);
            }
            header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 >li:last-child {
                border-bottom: none; /*마지막엔 줄선이 없으니까(선취소) 숫자0도 됨
                                    li:last-child 마지막꺼를 선택할때 list-child*/
            }
            header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
                display: block;
                padding: 7px 0 7px 12px;
            }
            header .gnb .gnb_wrap .gnb_logo {
                position: absolute; /*gnb_wrap을 기준으로 정렬*/
                left: var(--wrapper-margin);
                top: 0;
                width: clamp(145px, 20vw, 200px);
                height: var(--header-var);
                background: url(../images/logo.svg) no-repeat center center / contain;
                            /*contain말고 cover를 주면 박스안에 (로고)글씨만 크게 나옴*/
            }
            header .gnb .gnb_wrap .gnb_close {
                position: absolute; /*gnb_wrap을 기준으로 정렬*/
                right: 0;
                top: 0;
                width: var(--header-var);
                height: var(--header-var);
                display: flex; /*i태그를 가운데로*/
                justify-content: center;
                align-items: center;
            }
            header .gnb .gnb_wrap .gnb_close i {
                display: block; /*a 나 i는 무조건 display: block*/
                width: 26.41%;
            }


            
}



.visual {
    position: relative; /* ctrl_btn 정렬의 기준 */
}
.visual .swiper-slide {
    height: 100dvh; /* 브라우저 높이와 동일 */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color-white);

    display: flex; /* wrapper를 하단에 배치하기 위해 */
    align-items: flex-end;
}
.visual .swiper-slide.pop1 {
    background-image: url(../images/visual_bg1.jpg);
}
.visual .swiper-slide.pop2 {
    background-image: url(../images/visual_bg2.jpg);
}
.visual .swiper-slide.pop3 {
    background-image: url(../images/visual_bg3.jpg);
}
.visual .swiper-slide p {
    font-size: clamp(28px, 5vw, 60px);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-title);
    letter-spacing: var(--letter-spacing-title);
    margin: 0 0 calc(15dvh + 93px) 0;
    /* 글자가 나타나는 효과 */
    transition: transform 1s, opacity 1s;
    transition-delay: 0.2s;
    transform: translate(0, 50px);
    opacity: 0;
}
.visual .swiper-slide.swiper-slide-active p {
    transform: translate(0, 0);
    opacity: 1;
}

.visual .ctrl_btn {
    position: absolute; /* visual을 기준으로 정렬 */
    left: calc(50% - 630px);
    bottom: 15%;
    z-index: 10;
    display: flex;
    gap: 0 12px;
}
.visual .ctrl_btn .paging {
    display: flex;
    align-items: center;
    gap: 0 3px;
    color: var(--color-white);
    font-weight: var(--font-weight-bold);
}
.visual .ctrl_btn .paging .bar {
    width: 140px;
    height: 3px;
    background-color: var(--color-white30);
    position: relative; /* before 정렬의 기준 */
}
.visual .ctrl_btn .paging .bar span {
    position: absolute; /* bar를 기준으로 정렬 */
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--color-white);
}
.visual .ctrl_btn .stop,
.visual .ctrl_btn .play {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: var(--color-white30);
    display: flex; /* i태그를 가운데 배치 */
    justify-content: center;
    align-items: center;
}
.visual .ctrl_btn .play {
    display: none; /* 숨김처리 */
}
.visual .ctrl_btn .stop i {
    display: block;
    width: 9px;
    /* 이미지나 svg 코드 등은 넓이만 줘도 높이는 비율에 맞게 들어감 */
    margin: 0 0 3px 0;
}
.visual .ctrl_btn .play i {
    display: block;
    width: 8px;
    margin: 0 0 3px 0;
}
@media screen and (max-width:1320px){
    .visual .ctrl_btn {
        left: 30px;
    }
}
@media screen and (max-width:768px){
            .visual .swiper-slide {
                height: 400px; /* 브라우저 높이와 동일 */
            }
            .visual .swiper-slide p {
                margin: 0 0 92px 0;
                transform: translate(0, 20px);
            }
            .visual .ctrl_btn {
                left: 16px;
                bottom: 38px;
                gap: 0 6px;
            }
            .visual .ctrl_btn .paging .bar {
                width: 72px;
            }
}


footer {
    margin: 1500px 0 0 0;
}