@import url(default.css);
@import url(fonts.css);
@import url(common.css);


section h2,
section h3 {
    font-family: "Eulyoo1945";
    font-weight: 700;
    line-height: 1.3;
}
section .tit h2 {
    font-size: 40px;
    color: #1d1d1d;
}
section .tit p {
    margin: 17px 0 0 0;
} 

@media screen and (max-width:768px) {
    section .tit h2 {
        font-size: 28px;
    }
    section .tit p {
        display: none;
    }
}/*@media*/


header {
    position: absolute; /*wrap기준*/
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 90px;
    color: #fff;
    padding: 0 30px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
header .logo a {
    display: block;
    width: 188px;
    height: 29px;
    background: url(../images/logo_w.svg) no-repeat center center / contain;
    /*contain 로고를 잘리지 않게 영역에 맞게 사이즈 조정*/
    transition: 0.5s;
}
header .gnb .gnb_open,
header .gnb .gnb_close {
    display: none; /*모바일에서만 보임*/
}
header .gnb .gnb_wrap ul {
    display: flex; /*li좌우배치*/
}
header .gnb .gnb_wrap ul li a {
    display: block;
    font-family: "Eulyoo1945";
    font-weight: 700;
    font-size: 22px;
    line-height: 90px; /*header의 높이*/
    padding: 0 24px;
}
header .util {
    display: flex;
    gap: 0 9px;
}
header .util .mypage,
header .util .search_open {
    width: 45px;
    height: 45px;
    background-position: center center;
    background-repeat: no-repeat;
}
header .util .mypage {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_33_32' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_33_32)'%3E%3Cpath d='M15 15C13.625 15 12.4479 14.5104 11.4688 13.5313C10.4896 12.5521 10 11.375 10 10C10 8.625 10.4896 7.44792 11.4688 6.46875C12.4479 5.48958 13.625 5 15 5C16.375 5 17.5521 5.48958 18.5312 6.46875C19.5104 7.44792 20 8.625 20 10C20 11.375 19.5104 12.5521 18.5312 13.5313C17.5521 14.5104 16.375 15 15 15ZM5 25V21.5C5 20.7917 5.18229 20.1406 5.54688 19.5469C5.91146 18.9531 6.39583 18.5 7 18.1875C8.29167 17.5417 9.60417 17.0573 10.9375 16.7344C12.2708 16.4115 13.625 16.25 15 16.25C16.375 16.25 17.7292 16.4115 19.0625 16.7344C20.3958 17.0573 21.7083 17.5417 23 18.1875C23.6042 18.5 24.0885 18.9531 24.4531 19.5469C24.8177 20.1406 25 20.7917 25 21.5V25H5ZM7.5 22.5H22.5V21.5C22.5 21.2708 22.4427 21.0625 22.3281 20.875C22.2135 20.6875 22.0625 20.5417 21.875 20.4375C20.75 19.875 19.6146 19.4531 18.4688 19.1719C17.3229 18.8906 16.1667 18.75 15 18.75C13.8333 18.75 12.6771 18.8906 11.5312 19.1719C10.3854 19.4531 9.25 19.875 8.125 20.4375C7.9375 20.5417 7.78646 20.6875 7.67188 20.875C7.55729 21.0625 7.5 21.2708 7.5 21.5V22.5ZM15 12.5C15.6875 12.5 16.276 12.2552 16.7656 11.7656C17.2552 11.276 17.5 10.6875 17.5 10C17.5 9.3125 17.2552 8.72396 16.7656 8.23438C16.276 7.74479 15.6875 7.5 15 7.5C14.3125 7.5 13.724 7.74479 13.2344 8.23438C12.7448 8.72396 12.5 9.3125 12.5 10C12.5 10.6875 12.7448 11.276 13.2344 11.7656C13.724 12.2552 14.3125 12.5 15 12.5Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
header .util .search_open {
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_33_35' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_33_35)'%3E%3Cpath d='M24.5 26.25L16.625 18.375C16 18.875 15.2812 19.2708 14.4687 19.5625C13.6562 19.8542 12.7917 20 11.875 20C9.60417 20 7.68229 19.2135 6.10938 17.6406C4.53646 16.0677 3.75 14.1458 3.75 11.875C3.75 9.60417 4.53646 7.68229 6.10938 6.10938C7.68229 4.53646 9.60417 3.75 11.875 3.75C14.1458 3.75 16.0677 4.53646 17.6406 6.10938C19.2135 7.68229 20 9.60417 20 11.875C20 12.7917 19.8542 13.6562 19.5625 14.4687C19.2708 15.2812 18.875 16 18.375 16.625L26.25 24.5L24.5 26.25ZM11.875 17.5C13.4375 17.5 14.7656 16.9531 15.8594 15.8594C16.9531 14.7656 17.5 13.4375 17.5 11.875C17.5 10.3125 16.9531 8.98438 15.8594 7.89062C14.7656 6.79688 13.4375 6.25 11.875 6.25C10.3125 6.25 8.98438 6.79688 7.89062 7.89062C6.79688 8.98438 6.25 10.3125 6.25 11.875C6.25 13.4375 6.79688 14.7656 7.89062 15.8594C8.98438 16.9531 10.3125 17.5 11.875 17.5Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}

/*header에 fixed 클래스가 추가되었을때*/
header.fixed {
    position: fixed;
    height: 55px;
    color: #fff;
    background-color: #6C4838;
}
header .gnb .gnb_open  {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_28_1903' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_28_1903)'%3E%3Cpath d='M3 7V5H21V7H3ZM3 19V17H21V19H3ZM3 13V11H21V13H3Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
header.fixed .logo a {
   background-image: url(../images/logo_w.svg);
    /*contain 로고를 잘리지 않게 영역에 맞게 사이즈 조정*/
}
header.fixed .gnb .gnb_wrap ul li a {
    line-height: 70px; /*header의 높이*/
}


@media screen and (max-width:768px) {
            header {
                height: 55px;
                padding: 0 0 0 16px;
            }
            header .logo a {
                width: 111px;
                height: 17px;
            }
            header .gnb .gnb_open {
                display: block;
                width: 55px;
                height: 55px;
                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_28_1903' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_28_1903)'%3E%3Cpath d='M3 7V5H21V7H3ZM3 19V17H21V19H3ZM3 13V11H21V13H3Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
                background-position: center center;
                background-repeat: no-repeat;
            }
            header .gnb .gnb_wrap {
                display: none;
            }
            header .util {
                display: none;
            }
            header .util .mypage,
            header .util .search_open {
                width: 45px;
                height: 45px;
                background-position: center center;
                background-repeat: no-repeat;
            }
            header .util .mypage {
                background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_33_32' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_33_32)'%3E%3Cpath d='M15 15C13.625 15 12.4479 14.5104 11.4688 13.5313C10.4896 12.5521 10 11.375 10 10C10 8.625 10.4896 7.44792 11.4688 6.46875C12.4479 5.48958 13.625 5 15 5C16.375 5 17.5521 5.48958 18.5312 6.46875C19.5104 7.44792 20 8.625 20 10C20 11.375 19.5104 12.5521 18.5312 13.5313C17.5521 14.5104 16.375 15 15 15ZM5 25V21.5C5 20.7917 5.18229 20.1406 5.54688 19.5469C5.91146 18.9531 6.39583 18.5 7 18.1875C8.29167 17.5417 9.60417 17.0573 10.9375 16.7344C12.2708 16.4115 13.625 16.25 15 16.25C16.375 16.25 17.7292 16.4115 19.0625 16.7344C20.3958 17.0573 21.7083 17.5417 23 18.1875C23.6042 18.5 24.0885 18.9531 24.4531 19.5469C24.8177 20.1406 25 20.7917 25 21.5V25H5ZM7.5 22.5H22.5V21.5C22.5 21.2708 22.4427 21.0625 22.3281 20.875C22.2135 20.6875 22.0625 20.5417 21.875 20.4375C20.75 19.875 19.6146 19.4531 18.4688 19.1719C17.3229 18.8906 16.1667 18.75 15 18.75C13.8333 18.75 12.6771 18.8906 11.5312 19.1719C10.3854 19.4531 9.25 19.875 8.125 20.4375C7.9375 20.5417 7.78646 20.6875 7.67188 20.875C7.55729 21.0625 7.5 21.2708 7.5 21.5V22.5ZM15 12.5C15.6875 12.5 16.276 12.2552 16.7656 11.7656C17.2552 11.276 17.5 10.6875 17.5 10C17.5 9.3125 17.2552 8.72396 16.7656 8.23438C16.276 7.74479 15.6875 7.5 15 7.5C14.3125 7.5 13.724 7.74479 13.2344 8.23438C12.7448 8.72396 12.5 9.3125 12.5 10C12.5 10.6875 12.7448 11.276 13.2344 11.7656C13.724 12.2552 14.3125 12.5 15 12.5Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
            }
            header .util .search_open {
                background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_33_35' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='30' height='30'%3E%3Crect width='30' height='30' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_33_35)'%3E%3Cpath d='M24.5 26.25L16.625 18.375C16 18.875 15.2812 19.2708 14.4687 19.5625C13.6562 19.8542 12.7917 20 11.875 20C9.60417 20 7.68229 19.2135 6.10938 17.6406C4.53646 16.0677 3.75 14.1458 3.75 11.875C3.75 9.60417 4.53646 7.68229 6.10938 6.10938C7.68229 4.53646 9.60417 3.75 11.875 3.75C14.1458 3.75 16.0677 4.53646 17.6406 6.10938C19.2135 7.68229 20 9.60417 20 11.875C20 12.7917 19.8542 13.6562 19.5625 14.4687C19.2708 15.2812 18.875 16 18.375 16.625L26.25 24.5L24.5 26.25ZM11.875 17.5C13.4375 17.5 14.7656 16.9531 15.8594 15.8594C16.9531 14.7656 17.5 13.4375 17.5 11.875C17.5 10.3125 16.9531 8.98438 15.8594 7.89062C14.7656 6.79688 13.4375 6.25 11.875 6.25C10.3125 6.25 8.98438 6.79688 7.89062 7.89062C6.79688 8.98438 6.25 10.3125 6.25 11.875C6.25 13.4375 6.79688 14.7656 7.89062 15.8594C8.98438 16.9531 10.3125 17.5 11.875 17.5Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
            }
}/*@media 꼬리*/

.visual {
    position: relative; 
}
.visual .swiper-slide {
    height: 100dvh; /*브라우저 높이에 딱 맞춰서*/
    min-height: 540px; /*최소높이*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    align-items: flex-end; /*얘는 단독으로 사용 할수없음
                            그래서 display: flex를 주고 사용함*/
    display: flex;
}
.visual .swiper-slide.popup1 {
    background-image: url(../images/visual_bg1.jpg);
}
.visual .swiper-slide.popup2 {
    background-image: url(../images/visual_bg2.jpg);
}
.visual .swiper-slide.popup3 {
    background-image: url(../images/visual_bg3.jpg);
}

.visual .swiper-slide h3 {
    font-size: 80px;
    margin: 0 0 31px 0;
    transition: 1s;
    transition-delay: 0.5s;
    transform: translateY(30px);
    opacity: 0;
}
.visual .swiper-slide br {
    display: none; /*pc는 한줄 모바일은 두 줄일때 index.html에서 준 br은 display - none
                        모바일은 display - block*/
}
.visual .swiper-slide p {
    margin: 0 0 189px 0;
    transition: 1s;
    transition-delay: 1s;
    transform: translateY(30px);
    opacity: 0;
}
.visual .swiper-slide.swiper-slide-active h3 {
    transform: translateY(0);
    opacity: 1;
}
.visual .swiper-slide.swiper-slide-active p {
    transform: translateY(0);
    opacity: 1;
}
.visual .ctrl_btn {
    position: absolute;
    bottom: 82px;
    left: 50%;
    width: 1260px;
    transform: translate(-50%);
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.visual .ctrl_btn .btn_left,
.visual .ctrl_btn .btn_right  {
    display: flex;
    align-items: center;
}
.visual .ctrl_btn .paging {
    bottom: auto;
    left: auto;
    width: auto;
    display: flex;
    gap: 0 7px;
}

.visual .ctrl_btn .paging .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: transparent;
    border: 1px solid #d9d9d9;
    opacity: 1;
    margin: 0;
}
.visual .ctrl_btn .paging .swiper-pagination-bullet.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #d9d9d9;
}
.visual .ctrl_btn .btn_stop {
    width: 15px;
    height: 15px;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_33_54' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='15' height='15'%3E%3Crect width='15' height='15' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_33_54)'%3E%3Cpath d='M8.75 11.875V3.12497H11.25V11.875H8.75ZM3.75 11.875V3.12497H6.25V11.875H3.75Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 2px 0 7px;

}
.visual .ctrl_btn .btn_play {
    display: none; /*일시정지 이후에 나타남*/
    width: 15px;
    height: 15px;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_33_57' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='15' height='15'%3E%3Crect width='15' height='15' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_33_57)'%3E%3Cpath d='M4.99951 11.875V3.12497L11.8745 7.49997L4.99951 11.875Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 2px 0 7px;
}

.visual .ctrl_btn .btn_prev,
.visual .ctrl_btn .btn_next {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #D9D9D9;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_33_45' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='50' height='50'%3E%3Crect x='50' y='50' width='50' height='50' transform='rotate(-180 50 50)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_33_45)'%3E%3Cpath d='M14.4193 23.9583L39.5833 23.9583L39.5833 26.0417L14.4193 26.0417L26.4864 38.1088L25 39.5833L10.4166 25L25 10.4167L26.4864 11.8911L14.4193 23.9583Z' fill='white'/%3E%3C/g%3E%3C/svg%3E ");
    margin: 0 7px 0 0;
}
.visual .ctrl_btn .btn_next {
    transform: rotate(180deg);
}

@media screen and (max-width:768px) {
           .visual .swiper-slide {
                height: 400px; /*브라우저 높이에 딱 맞춰서*/
            }
           .visual .swiper-slide h3 {
                font-size: 40px;
                margin: 0 0 126px 0;
                transform: translateY(20px);
                /* transition: 1s;
                transition-delay: 0.5s;
                transform: translateY(30px);
                opacity: 0; */ 
                display: block;
            }
            .visual .swiper-slide br {
                display: block;
            }
            .visual .swiper-slide p {
               display: none;
            }
            .visual .ctrl_btn {
                bottom: 31px;
                left: 50%;
                width: auto;
                transform: translateX(-50%);
            }
           .visual .ctrl_btn .btn_right {
                display: none;
            }
}/*@media*/

.book {
    margin: 141px 0 0 0;
}
.book .book_wrap {
    width: calc(50% + 630px); /*book넓이의 절반 50% + 1260의 절반*/
    margin-left: calc((100% - 1260px) / 2);
    display: flex; /*tit - list 좌우배치*/
    justify-content: space-between;
    position: relative; /*ctrl_btn, more정렬의기준*/
}
.book .book_wrap .list {
    width: calc(100% - 307px); /*왼쪽 타이틀 여백 10을 덜 빼보자*/
    margin: -10px 0 0 0;
}
.book .book_wrap .list .swiper {
    padding: 10px 30px 0 10px;
}
.book .book_wrap .list .swiper-wrapper {
    align-items: flex-end;
}
.book .book_wrap .list .swiper-slide {
    width: 200px;
}
.book .book_wrap .list .swiper-slide a {
    display: block;
}
.book .book_wrap .list .swiper-slide a .photo {
    overflow: hidden;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}
.book .book_wrap .list .swiper-slide a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top; /*이미지 아래 여백을 사라지게 해줌*/
}
.book .book_wrap .list .swiper-slide a .txt {
    height: 100px;
}
.book .book_wrap .list .swiper-slide a .txt h3 {
    margin: 25px 0 8px 0;
    font-size: 25px;
    color: #1d1d1d;
    /*최대 2줄 허용*/
    line-height: 1.3;
    max-height: 2.6em; /*행간*줄수 단위em*/
    overflow: hidden;
}
.book .book_wrap .list .swiper-slide a .txt p {
    /*1줄로 허용*/
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.book .book_wrap .ctrl_btn {
    position: absolute;
    left: 0;
    top: 360px;
    display: flex;
    gap: 0 10px;
}
.book .book_wrap .ctrl_btn button {
    width: 38px;
    height: 38px;
    border: 1px solid #222;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='31' height='31' viewBox='0 0 31 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_33_70' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='31' height='31'%3E%3Crect x='30.2091' y='30.4818' width='29.1818' height='29.1818' transform='rotate(-180 30.2091 30.4818)' fill='%23D9D9D9' stroke='%231D1D1D'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_33_70)'%3E%3Cpath d='M6.83325 15.8912L15.6194 7.10504L16.4973 7.97906L9.22192 15.2535L9.20142 15.275L24.4084 15.275L24.4084 16.5074L9.20142 16.5074L9.22192 16.5289L16.4973 23.8043L15.6194 24.6773L6.83325 15.8912Z' fill='%23222222' stroke='%23222222' stroke-width='0.025'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.book .book_wrap .ctrl_btn button.btn_next {
    transform: rotate(180deg);
}
.book .book_wrap .ctrl_btn button.swiper-button-disabled {
    opacity: 0.5;
    cursor: default;
}
.book .book_wrap .more {
    position: absolute;
    left: 0;
    top: 166px;
}
.book .book_wrap .more a {
    display: block;
    color: #222;
    padding: 0 30px 0 0;
    position: relative; /*after 정렬의기준*/
}
.book .book_wrap .more a::after {
    content: "";
    position: absolute;
    right: 0;
    top: 5px;
    width: 15px;
    height: 15px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_33_77' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='15' height='15'%3E%3Crect width='15' height='15' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_33_77)'%3E%3Cpath d='M7.03125 12.8125V7.96875H2.1875V7.03125H7.03125V2.1875H7.96875V7.03125H12.8125V7.96875H7.96875V12.8125H7.03125Z' fill='%23222222'/%3E%3C/g%3E%3C/svg%3E%0A");
}


@media screen and (max-width:768px){
    .book {
        margin: 96px 0 0 0;
    }
    .book .book_wrap {
        width: 100%; /*book넓이의 절반 50% + 1260의 절반*/
        margin-left: 0;
        display: block; 
    }
    .book .book_wrap .tit {
        margin: 0 0 0 16px;
    }
    .book .book_wrap .tit h2 {
        font-size: 28px;
        margin: 96px 0 27px 0;
    }
    .book .book_wrap .tit p {
        display: none;
    }
    .book .book_wrap .list {
        width: auto; /*왼쪽 타이틀 여백 10을 덜 빼보자*/
        margin: 11px 0 0 0;
    }
    .book .book_wrap .list .swiper {
        padding: 10px 16px 0 16px;
    }
    .book .book_wrap .list .swiper-wrapper {
        align-items: flex-start;
    }
    .book .book_wrap .list .swiper-slide {
        width: 150px;
    }
   .book .book_wrap .list .swiper-slide a .txt {
        height: auto
    }
    .book .book_wrap .list .swiper-slide a .txt h3 {
        margin: 20px 0 5px 0;
        font-size: 18px;
        color: #1d1d1d;
    }
    .book .book_wrap .list .swiper-slide a .txt p {
        font-size: 12px;
        color: #222;
    }
   .book .book_wrap .ctrl_btn {
        display: none;
    }
    .book .book_wrap .more {
        position: absolute;
        left: auto;
        right: 16px;
        top: 0;
    }
    .book .book_wrap .more a {
        padding: 0;
        width: 28px;
        height: 28px;
        border: 1px solid #000;
        border-radius: 50px;
    }
    .book .book_wrap .more a::after {
        top: 0;
        width: 100%;
        height: 100%;
    }
    .book .book_wrap .more a span {
        display: none;
    }
}/*@media*/ 

.interview {
    background-color: #F7F7F7;
    margin: 110px 0 0 0;
    padding: 136px 0 223px 0;
}
.interview  .wrapper {
    position: relative;
}
.interview .tit {
    text-align: center;
}
.interview .list {
    margin: 30px 0 0 0;
}
.interview .list ul {
    display: flex;
    justify-content: space-between;
}
.interview .list ul li {
    width: calc(33.33% - 16px); /*33.33 나타나야 하는 이미지 3개
                                100% 100*3 = 33.33 계산식
                                    calc는 무조건 % px*/
}

.interview .list ul li a {
    display: block;
    position: relative;
}
.interview .list ul li a .photo {
    overflow: hidden;
    height: 400px;
    border-radius: 50px 0 50px 0;
    position: relative;
}
.interview .list ul li a .photo::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 50%;
    background: linear-gradient(0deg,rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0));
    transition: 0.5s;
}

.interview .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(1);
    transition: 0.5s;
}
.interview .list ul li a .txt {
    position: absolute;
    left: 0;
    bottom: -35px;
    z-index: 11; /*osition 있는 애들만 적용*/
    width: calc(100% - 54px);
    color: #fff;
    padding: 55px 32px 33px 32px;
    border-radius: 50px 0 50px 0;
    transition: 0.5s;
}

.interview .list ul li a .txt::after {
    content: "";
    position: absolute;
    right: -16px;
    top: 84px;
    width:35px;
    height:35px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.5625 19.6251V10.4376H0.375V9.56262H9.5625V0.375122H10.4375V9.56262H19.625V10.4376H10.4375V19.6251H9.5625Z' fill='white'/%3E%3C/svg%3E%0A");
    background-size: contain;
    transition: 0.5s;
}
.interview .list ul li a .txt h3 {
    font-size: 32px;
    margin: 0 0 15px 0;
}
.interview .list ul li a .txt p {
    opacity: 0;
    transition: 0.5s;
}
.interview .more {
    position: absolute;
    right: 0;
    top: 40px;
}
.interview .more a {
    display: block;
    color: #222;
    padding: 0 30px 0 0;
    position: relative; /*after 정렬의기준*/
}
.interview .more a::after {
    content: "";
    position: absolute;
    right: 0;
    top: 5px;
    width: 15px;
    height: 15px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_33_77' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='15' height='15'%3E%3Crect width='15' height='15' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_33_77)'%3E%3Cpath d='M7.03125 12.8125V7.96875H2.1875V7.03125H7.03125V2.1875H7.96875V7.03125H12.8125V7.96875H7.96875V12.8125H7.03125Z' fill='%23222222'/%3E%3C/g%3E%3C/svg%3E%0A");
}

@media screen and (min-width:769px) { /*769이상일때만(pc버전)적용*/
    .interview .list ul li:nth-child(2) {
        margin: 64px 0 0 0;
    }
    .interview .list ul li:nth-child(2) a .photo {
        border-radius: 0 50px 0 50px;
    }
    .interview .list ul li:nth-child(2) a .txt {
        border-radius: 0 50px 0 50px;
    }
    .interview .list ul li a:hover .photo img {
        filter: grayscale(0); 
    }
    .interview .list ul li a:hover .txt {
        bottom: -90px;
        background-color: #6C4838;
    }
    .interview .list ul li a:hover .txt::after {
        right: 46px;
        top: 84px;
        width: 20px;
        height: 20px;
    }
    .interview .list ul li a:hover .txt p {
        opacity: 1;
    }
}/*@media*/

@media screen and (max-width:768px){ /*768이하일때 (모바일)*/
            .interview {
                margin: 69px 0 0 0;
                padding: 99px 0 106px 0;
            }
            .interview .tit {
                text-align: left;
            }
            .interview .tit p {
                display: none;
            }
            .interview .list {
                margin: 19px 0 0 0;
            }
            .interview .list ul {
                display: block;
            }
            .interview .list ul li {
                width: auto;
            }
            .interview .list ul li:nth-child(2),
            .interview .list ul li:nth-child(3) {
                display: none;
            }
            .interview .list ul li a .photo {
                height: 338px;
            }
            .interview .list ul li a .photo::before {
                display: none;
            }
            
            .interview .list ul li a .photo img {
                filter: grayscale(0);
            }
            .interview .list ul li a .txt {
                bottom: -62px;
                background-color: #6C4838;
                width: calc(100% - 46px);
                padding: 45px 38px 45px 38px;
            }
            
            .interview .list ul li a .txt::after {
                right: 18px;
                top: 56px;
                width: 18px;
                height: 18px;
            }
            .interview .list ul li a .txt h3 {
                font-size: 20px;
                margin: 0 0 39px 0;
            }
            .interview .list ul li a .txt h3 br {
                display: none;
            }
            .interview .list ul li a .txt p {
                opacity: 1;
            }
            .interview .more {
                top: 0;
            }
            .interview .more a {
                padding: 0;
                width: 28px;
                height: 28px;
                border-radius: 50%;
                border: 1px solid #000000;
            }
            .interview .more a::after {
                top: 0;
                width: 100%;
                height: 100%;
            }
            .interview .more a span {
                display: none;
            }
}/*@media*/


.story {
    margin: 139px 0 0 0;
}
.story .wrapper {
    position: relative; /*ctrl_btn, more 정렬기준*/
}
.story .list {
    margin: 21px 0 0 0;
}
.story .list .swiper-slide {
    position: relative;
}
.story .list .swiper-slide::after {
    content: "";
    position: absolute;
    right: -12px;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #E1E1E1;
}
.story .list .swiper-slide a {
    display: block;
}
.story .list .swiper-slide a .photo {
    overflow: hidden;
    height: 220px;
}
.story .list .swiper-slide.long a .photo {
    height: 441px;
}
.story .list .swiper-slide a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;  
    transition: 0.5s;
}
.story .list .swiper-slide a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1.2, 0)
}
.story .list .swiper-slide a .txt h3 {
    font-size: 25px;
    color: #1d1d1d;
    margin: 23px 0 0 0;
    /*무조건 3줄*/
    line-height: 1.3;
    height: 2.6em; /*1.3 * 3 = */
    overflow: hidden;
    word-break:break-all
}
.story .list .swiper-slide.long a .txt h3 {
    height: 3.9em; /*1.3 * 3 = */
}
.story .list .swiper-slide a .txt p {
    color: #838383;
    margin: 23px 0 0 0;
    /*무조건 11줄*/
    line-height: 1.5;
    height: 13.5em; /*1.5 * 11 = */
    overflow: hidden;
}
.story .list .swiper-slide.long a .txt p {
    display: none;
}
.story .list .swiper-slide a .txt span {
    display: inline-block;
    margin: 32px 0 0 0;
    padding: 0 30px 0 0;
    position: relative; /* span 정렬의 기준 */
}
.story .list .swiper-slide a .txt span::after {
    content: "";
    position: absolute;
    right: 0;
    top: 4px;
    width: 20px;
    height: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_33_172' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect y='20' width='20' height='20' transform='rotate(-90 0 20)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_33_172)'%3E%3Cpath d='M14.4232 9.99997L10 14.4231L9.41025 13.8333L12.8269 10.4166L4.58337 10.4166L4.58337 9.5833L12.8269 9.5833L9.41025 6.16664L10 5.57684L14.4232 9.99997Z' fill='%231C1B1F'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.story .ctrl_btn {
    position: absolute; /*wrapper 기준*/
    right: 29px;
    top: 1px;
    display: flex; 
    gap: 0 5px;
}
.story .ctrl_btn button {
    width: 25px;
    height: 25px;
    border: 1px solid #1d1d1d;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.8151 5.99976L5.99872 11.8162L5.42255 11.2439L10.2624 6.40405L0.179382 6.40405L0.179382 5.59546L10.2624 5.59546L10.2409 5.57495L5.42255 0.755615L5.99872 0.18335L11.8151 5.99976Z' fill='%231D1D1D' stroke='%231D1D1D' stroke-width='0.025'/%3E%3C/svg%3E%0A");
}
.story .ctrl_btn button.swiper-buttom-disabled {
    opacity: 0.5s;
    cursor: default;
}
.story .ctrl_btn button.btn_prev {
    transform: rotate(180deg);
}
.story .more {
    position: absolute;
    right: 0;
    top: 0;
}
.story .more a {
    display: block;
    width: 25px;
    height: 25px;
    background-color: #1d1d1d;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_33_134' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_33_134)'%3E%3Cpath d='M9.58331 16.6667V10.4167H3.33331V9.58337H9.58331V3.33337H10.4166V9.58337H16.6666V10.4167H10.4166V16.6667H9.58331Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.story .more a span {
    display: none;
}

@media screen and (max-width:768px){
    .story {
        margin: 99px 0 0 0;
    }
    .story .list {
        margin: 33px 0 0 0;
    }
    .story .list .swiper-slide {
        width: 200px;
    }
    .story .list .swiper-slide::after {
        display: none;
    }
    .story .list .swiper-slide.long a .photo {
        height: 220px;
    }
    .story .list .swiper-slide a .txt h3 {
        font-size: 16px;
        margin: 33px 0 0 0;
    }
    .story .list .swiper-slide a .txt p {
        margin: 12px 0 0 0;
        /*무조건 11줄*/
        height: auto; /*1.5 * 11 = */
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .story .list .swiper-slide a .txt span {
        display: none;
    }
    .story .ctrl_btn {
        display: none;
    }
    .story .more {
        position: relative;
        right: auto;
        top: auto;
        margin: 34px 0 0 0;
        display: flex;
        justify-content: center;
    }
    .story .more a {
        width: auto;
        height: auto;
        border: 1px solid #000000;
        padding: 10px 84px 9px 14px;
        background-color: transparent;
        border-radius: 20px;
        position: relative;
    }
    .story .more a::after {
        content: "";
        position: absolute;
        right: 15px;
        top: 14px;
        width: 12px;
        height: 12px;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.6484 5.83301L5.83203 11.6494L5.25586 11.0771L10.0957 6.2373L0.0126953 6.2373L0.0126953 5.42871L10.0957 5.42871L10.0742 5.4082L5.25586 0.588867L5.83203 0.0166016L11.6484 5.83301Z' fill='%231D1D1D' stroke='%231D1D1D' stroke-width='0.025'/%3E%3C/svg%3E%0A");
    }
    .story .more a span {
        display: block;
    }
}/*@media*/

footer {
    margin: 177px 0 0 0;
    background-color: #080808;
    color: rgba(255, 255, 255, 0.8);
    padding: 139px 0 145px 0;
    position: relative;
}
footer .top {
    position: absolute;
    right: 5%; 
    bottom: 150px;
    width: 50px;
    height: 50px;
    background-color: #D9D9D9;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_33_166' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='40' height='40'%3E%3Crect y='40' width='40' height='40' transform='rotate(-90 0 40)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_33_166)'%3E%3Cpath d='M20.8333 11.5355L20.8333 31.6667L19.1667 31.6667L19.1667 11.5355L9.51293 21.1892L8.33334 20.0001L20 8.33341L31.6667 20.0001L30.4871 21.1892L20.8333 11.5355Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
}
footer .wrapper {
    display: flex; 
    justify-content: space-between;
    position: relative; /*copyright를 기준으로 정렬*/
}
footer .slogan {
    color: #fff;
    font-family: "Eulyoo1945";
    font-size: 30px;
    line-height: 1.3;
}

footer .f_info .group + .group {
    margin: 36px 0 0 0;
}
footer .f_info .group h3 {
    font-family: "Eulyoo1945";
    font-size: 27px;
    line-height: 1.3;
    margin: 0 0 12px 0;
}
footer .f_info .group ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0 37px;
}
footer .copyright {
    position: absolute;
    left: 0;
    bottom: 0;
}
footer .copyright .f_info img {
    width: 188px; /*이미지 넓이만 주면 높이는 비율에 맞게 들어감*/
}
footer .copyright p {
    font-family: "Eulyoo1945";
    color: rgba(255, 255, 255, 0.8);
    margin: 23px 0 0 0  ;
}

        @media screen and (max-width:768px){
            footer {
                margin: 165px 0 0 0;
                padding: 99px 0 68px 0;
            }
            footer .top {
                bottom: auto;
                width: 30px;
                height: 30px;
                background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_28_1949' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='25' height='25'%3E%3Crect y='25' width='25' height='25' transform='rotate(-90 0 25)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_28_1949)'%3E%3Cpath d='M13.0208 7.20959L13.0208 19.7916L11.9792 19.7916L11.9792 7.20959L5.94557 13.2432L5.20833 12.5L12.5 5.20829L19.7917 12.5L19.0544 13.2432L13.0208 7.20959Z' fill='%231D1D1D'/%3E%3C/g%3E%3C/svg%3E%0A");
            }
            footer .wrapper {
                display: block; 
            }
            footer .slogan {
                font-size: 20px;
                margin: 0 0 68px 0;
            }
            footer .f_info .group + .group {
                margin: 36px 0 0 0;
            }
            footer .f_info .group h3 {
                font-size: 17px;
                line-height: 1.3;
                margin: 0 0 12px 0;
            }
            footer .f_info .group ul {
                display: flex;
                gap: 0 35px;
            }
            footer .copyright {
                position: relative;
                left: auto;
                bottom: auto;
                margin: 103px 0 0 0;
            }
            footer .copyright .f_info img {
                width: 180px; /*이미지 넓이만 주면 높이는 비율에 맞게 들어감*/
            }
            
        }/*@media*/