@import url(common.css);

:root {
    --header-h: 90px;
}
@media screen and (max-width:768px){
    :root {
        --header-h: 90px;
    }
}
header {
    position: absolute; /*wrap을 기준으로 정렬*/
    left: 0;
    top: 0;
    z-index: 100; /*z-index는 절대로 % 퍼센트가 안들어감 숫자만 들어간단다*/
    width: 100%;
    height: var(--header-h);
    color: #fff;
    padding: var(--content-margin);
    display: flex;/*logo-gnb-utll 좌우정렬시켜*/
    justify-content: space-between;
    align-items: center;
    
}
header .logo a {
    display: block;
    width: 60px;
    height: 60px;
    background: url(../images/logo_01.svg) no-repeat center center / contain;
    /*로고나 아이콘은 contain 짤리지 않게 나오게 해주는 것*/
}
header .gnb .gnb_open {
    width: var(--header-h);
    height: var(--header-h);
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 2C0.716667 2 0.479167 1.90417 0.2875 1.7125C0.0958333 1.52083 0 1.28333 0 1C0 0.716667 0.0958333 0.479167 0.2875 0.2875C0.479167 0.0958333 0.716667 0 1 0H17C17.2833 0 17.5208 0.0958333 17.7125 0.2875C17.9042 0.479167 18 0.716667 18 1C18 1.28333 17.9042 1.52083 17.7125 1.7125C17.5208 1.90417 17.2833 2 17 2H1ZM1 14C0.716667 14 0.479167 13.9042 0.2875 13.7125C0.0958333 13.5208 0 13.2833 0 13C0 12.7167 0.0958333 12.4792 0.2875 12.2875C0.479167 12.0958 0.716667 12 1 12H17C17.2833 12 17.5208 12.0958 17.7125 12.2875C17.9042 12.4792 18 12.7167 18 13C18 13.2833 17.9042 13.5208 17.7125 13.7125C17.5208 13.9042 17.2833 14 17 14H1ZM1 8C0.716667 8 0.479167 7.90417 0.2875 7.7125C0.0958333 7.52083 0 7.28333 0 7C0 6.71667 0.0958333 6.47917 0.2875 6.2875C0.479167 6.09583 0.716667 6 1 6H17C17.2833 6 17.5208 6.09583 17.7125 6.2875C17.9042 6.47917 18 6.71667 18 7C18 7.28333 17.9042 7.52083 17.7125 7.7125C17.5208 7.90417 17.2833 8 17 8H1Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
header .gnb .gnb_wrap {
    display: block; /*메뉴가 열려야 보임*/
}
header .gnb .gnb_close {
    display: none;
}
header .util {
    display: flex;/*lang-search 좌우배치*/
    gap: 0 11px;
}
header .util .lang .lang_open {
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 20C8.63333 20 7.34167 19.7375 6.125 19.2125C4.90833 18.6875 3.84583 17.9708 2.9375 17.0625C2.02917 16.1542 1.3125 15.0917 0.7875 13.875C0.2625 12.6583 0 11.3667 0 10C0 8.61667 0.2625 7.32083 0.7875 6.1125C1.3125 4.90417 2.02917 3.84583 2.9375 2.9375C3.84583 2.02917 4.90833 1.3125 6.125 0.7875C7.34167 0.2625 8.63333 0 10 0C11.3833 0 12.6792 0.2625 13.8875 0.7875C15.0958 1.3125 16.1542 2.02917 17.0625 2.9375C17.9708 3.84583 18.6875 4.90417 19.2125 6.1125C19.7375 7.32083 20 8.61667 20 10C20 11.3667 19.7375 12.6583 19.2125 13.875C18.6875 15.0917 17.9708 16.1542 17.0625 17.0625C16.1542 17.9708 15.0958 18.6875 13.8875 19.2125C12.6792 19.7375 11.3833 20 10 20ZM10 17.95C10.4333 17.35 10.8083 16.725 11.125 16.075C11.4417 15.425 11.7 14.7333 11.9 14H8.1C8.3 14.7333 8.55833 15.425 8.875 16.075C9.19167 16.725 9.56667 17.35 10 17.95ZM7.4 17.55C7.1 17 6.8375 16.4292 6.6125 15.8375C6.3875 15.2458 6.2 14.6333 6.05 14H3.1C3.58333 14.8333 4.1875 15.5583 4.9125 16.175C5.6375 16.7917 6.46667 17.25 7.4 17.55ZM12.6 17.55C13.5333 17.25 14.3625 16.7917 15.0875 16.175C15.8125 15.5583 16.4167 14.8333 16.9 14H13.95C13.8 14.6333 13.6125 15.2458 13.3875 15.8375C13.1625 16.4292 12.9 17 12.6 17.55ZM2.25 12H5.65C5.6 11.6667 5.5625 11.3375 5.5375 11.0125C5.5125 10.6875 5.5 10.35 5.5 10C5.5 9.65 5.5125 9.3125 5.5375 8.9875C5.5625 8.6625 5.6 8.33333 5.65 8H2.25C2.16667 8.33333 2.10417 8.6625 2.0625 8.9875C2.02083 9.3125 2 9.65 2 10C2 10.35 2.02083 10.6875 2.0625 11.0125C2.10417 11.3375 2.16667 11.6667 2.25 12ZM7.65 12H12.35C12.4 11.6667 12.4375 11.3375 12.4625 11.0125C12.4875 10.6875 12.5 10.35 12.5 10C12.5 9.65 12.4875 9.3125 12.4625 8.9875C12.4375 8.6625 12.4 8.33333 12.35 8H7.65C7.6 8.33333 7.5625 8.6625 7.5375 8.9875C7.5125 9.3125 7.5 9.65 7.5 10C7.5 10.35 7.5125 10.6875 7.5375 11.0125C7.5625 11.3375 7.6 11.6667 7.65 12ZM14.35 12H17.75C17.8333 11.6667 17.8958 11.3375 17.9375 11.0125C17.9792 10.6875 18 10.35 18 10C18 9.65 17.9792 9.3125 17.9375 8.9875C17.8958 8.6625 17.8333 8.33333 17.75 8H14.35C14.4 8.33333 14.4375 8.6625 14.4625 8.9875C14.4875 9.3125 14.5 9.65 14.5 10C14.5 10.35 14.4875 10.6875 14.4625 11.0125C14.4375 11.3375 14.4 11.6667 14.35 12ZM13.95 6H16.9C16.4167 5.16667 15.8125 4.44167 15.0875 3.825C14.3625 3.20833 13.5333 2.75 12.6 2.45C12.9 3 13.1625 3.57083 13.3875 4.1625C13.6125 4.75417 13.8 5.36667 13.95 6ZM8.1 6H11.9C11.7 5.26667 11.4417 4.575 11.125 3.925C10.8083 3.275 10.4333 2.65 10 2.05C9.56667 2.65 9.19167 3.275 8.875 3.925C8.55833 4.575 8.3 5.26667 8.1 6ZM3.1 6H6.05C6.2 5.36667 6.3875 4.75417 6.6125 4.1625C6.8375 3.57083 7.1 3 7.4 2.45C6.46667 2.75 5.6375 3.20833 4.9125 3.825C4.1875 4.44167 3.58333 5.16667 3.1 6Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat; /*아이콘 반복하지마 하나만 나와*/
    background-position: center center; /*이거 안주면 이상한곳에 아이콘 뜬다*/
}
header .util .search .search_open {
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.5 13C4.68333 13 3.14583 12.3708 1.8875 11.1125C0.629167 9.85417 0 8.31667 0 6.5C0 4.68333 0.629167 3.14583 1.8875 1.8875C3.14583 0.629167 4.68333 0 6.5 0C8.31667 0 9.85417 0.629167 11.1125 1.8875C12.3708 3.14583 13 4.68333 13 6.5C13 7.23333 12.8833 7.925 12.65 8.575C12.4167 9.225 12.1 9.8 11.7 10.3L17.3 15.9C17.4833 16.0833 17.575 16.3167 17.575 16.6C17.575 16.8833 17.4833 17.1167 17.3 17.3C17.1167 17.4833 16.8833 17.575 16.6 17.575C16.3167 17.575 16.0833 17.4833 15.9 17.3L10.3 11.7C9.8 12.1 9.225 12.4167 8.575 12.65C7.925 12.8833 7.23333 13 6.5 13ZM6.5 11C7.75 11 8.8125 10.5625 9.6875 9.6875C10.5625 8.8125 11 7.75 11 6.5C11 5.25 10.5625 4.1875 9.6875 3.3125C8.8125 2.4375 7.75 2 6.5 2C5.25 2 4.1875 2.4375 3.3125 3.3125C2.4375 4.1875 2 5.25 2 6.5C2 7.75 2.4375 8.8125 3.3125 9.6875C4.1875 10.5625 5.25 11 6.5 11Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat; /*아이콘 반복하지마 하나만 나와*/
    background-position: center center; /*이거 안주면 이상한곳에 아이콘 뜬다*/
}

@media screen and (min-width:1025px){ /*min인지 max인지 꼭 체크하기*/
    /*1025px이상일때 - pc버전 스타일 메뉴*/
    header .gnb .gnb_bg {
        display: none !important;
    }
    header .gnb .gnb_open,
    header .gnb .gnb_close {
        display: none; /*pc 버전에선 안나옴*/
    }
    header .gnb .gnb_wrap ul.depth1 {
        display: flex;/*li를 좌우로 배치하기 위해서*/
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        position: relative; /*2차메뉴ul..depth2정렬의 기준*/
        z-index: 10;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        font-size: 22px;
        font-weight: 800;
        line-height: var(--header-h);
        padding: 0 28px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        /*2차메뉴는 absolute로 처리*/
        position: absolute; /*1차메뉴 li를 기준으로 정렬*/
        left: 0;
        top: var(--header-h);
        width: 100%; /*absolute 얘 때문에 쟤는 딱 자기영역까지만 나오기때문에 100% 넓이 줘야해*/
        min-height: 170px;
        /*모든 2차 메뉴의 길이를 동일하게 주려고*/
        color: #666;
        text-align: center;
        padding: 16px 0 0 0;
        display: none !important; /*메뉴가 열렸을때만 나타난다*/
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        padding: 4px 0;/*위아래 여백 주기 5px이면 어느정도 맞아*/
    }
    /*메뉴에 마우스를 오버했을때 menu_over가 추가되었을때*/
    header.menu_over {
        color: #2d2d2d;
    }
    header.menu_over::before {
        content: "";
        position: absolute; /*header를 기준으로 정렬*/
        left: 0;
        top: 0;
        z-index: -1; /*header안에 있는 요소들 중에서 맨 아래로 깔릴꺼야*/
        width: 100%;
        height: 290px;
        background-color: #fff;
    }
    header.menu_over::after {
        content: "";
        position: absolute;
        top: var(--header-h);
        width: 100%;
        height: 1px;
        background-color: #2d2d2d;
    }

    header.menu_over .logo a {
        background-image: url(../images/logo_02.svg);
    }
    header.menu_over .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        display: block !important; /*선택자 우선순위가 낮아서 적용되지 않을때
                                    무조건 먼저 적용되도록 하는 명령 속성뒤에 !important를 추가
                                    신중하게 써야 해*/
    }
    header.menu_over .lang .lang_open {
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 20C8.63333 20 7.34167 19.7375 6.125 19.2125C4.90833 18.6875 3.84583 17.9708 2.9375 17.0625C2.02917 16.1542 1.3125 15.0917 0.7875 13.875C0.2625 12.6583 0 11.3667 0 10C0 8.61667 0.2625 7.32083 0.7875 6.1125C1.3125 4.90417 2.02917 3.84583 2.9375 2.9375C3.84583 2.02917 4.90833 1.3125 6.125 0.7875C7.34167 0.2625 8.63333 0 10 0C11.3833 0 12.6792 0.2625 13.8875 0.7875C15.0958 1.3125 16.1542 2.02917 17.0625 2.9375C17.9708 3.84583 18.6875 4.90417 19.2125 6.1125C19.7375 7.32083 20 8.61667 20 10C20 11.3667 19.7375 12.6583 19.2125 13.875C18.6875 15.0917 17.9708 16.1542 17.0625 17.0625C16.1542 17.9708 15.0958 18.6875 13.8875 19.2125C12.6792 19.7375 11.3833 20 10 20ZM10 17.95C10.4333 17.35 10.8083 16.725 11.125 16.075C11.4417 15.425 11.7 14.7333 11.9 14H8.1C8.3 14.7333 8.55833 15.425 8.875 16.075C9.19167 16.725 9.56667 17.35 10 17.95ZM7.4 17.55C7.1 17 6.8375 16.4292 6.6125 15.8375C6.3875 15.2458 6.2 14.6333 6.05 14H3.1C3.58333 14.8333 4.1875 15.5583 4.9125 16.175C5.6375 16.7917 6.46667 17.25 7.4 17.55ZM12.6 17.55C13.5333 17.25 14.3625 16.7917 15.0875 16.175C15.8125 15.5583 16.4167 14.8333 16.9 14H13.95C13.8 14.6333 13.6125 15.2458 13.3875 15.8375C13.1625 16.4292 12.9 17 12.6 17.55ZM2.25 12H5.65C5.6 11.6667 5.5625 11.3375 5.5375 11.0125C5.5125 10.6875 5.5 10.35 5.5 10C5.5 9.65 5.5125 9.3125 5.5375 8.9875C5.5625 8.6625 5.6 8.33333 5.65 8H2.25C2.16667 8.33333 2.10417 8.6625 2.0625 8.9875C2.02083 9.3125 2 9.65 2 10C2 10.35 2.02083 10.6875 2.0625 11.0125C2.10417 11.3375 2.16667 11.6667 2.25 12ZM7.65 12H12.35C12.4 11.6667 12.4375 11.3375 12.4625 11.0125C12.4875 10.6875 12.5 10.35 12.5 10C12.5 9.65 12.4875 9.3125 12.4625 8.9875C12.4375 8.6625 12.4 8.33333 12.35 8H7.65C7.6 8.33333 7.5625 8.6625 7.5375 8.9875C7.5125 9.3125 7.5 9.65 7.5 10C7.5 10.35 7.5125 10.6875 7.5375 11.0125C7.5625 11.3375 7.6 11.6667 7.65 12ZM14.35 12H17.75C17.8333 11.6667 17.8958 11.3375 17.9375 11.0125C17.9792 10.6875 18 10.35 18 10C18 9.65 17.9792 9.3125 17.9375 8.9875C17.8958 8.6625 17.8333 8.33333 17.75 8H14.35C14.4 8.33333 14.4375 8.6625 14.4625 8.9875C14.4875 9.3125 14.5 9.65 14.5 10C14.5 10.35 14.4875 10.6875 14.4625 11.0125C14.4375 11.3375 14.4 11.6667 14.35 12ZM13.95 6H16.9C16.4167 5.16667 15.8125 4.44167 15.0875 3.825C14.3625 3.20833 13.5333 2.75 12.6 2.45C12.9 3 13.1625 3.57083 13.3875 4.1625C13.6125 4.75417 13.8 5.36667 13.95 6ZM8.1 6H11.9C11.7 5.26667 11.4417 4.575 11.125 3.925C10.8083 3.275 10.4333 2.65 10 2.05C9.56667 2.65 9.19167 3.275 8.875 3.925C8.55833 4.575 8.3 5.26667 8.1 6ZM3.1 6H6.05C6.2 5.36667 6.3875 4.75417 6.6125 4.1625C6.8375 3.57083 7.1 3 7.4 2.45C6.46667 2.75 5.6375 3.20833 4.9125 3.825C4.1875 4.44167 3.58333 5.16667 3.1 6Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
    }/*'%231D1D1D' 앞에 ' 이것만 들어가짐 , 쉼표 절대 안들어감*/
    header.menu_over .search .search_open {
       background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.5 13C4.68333 13 3.14583 12.3708 1.8875 11.1125C0.629167 9.85417 0 8.31667 0 6.5C0 4.68333 0.629167 3.14583 1.8875 1.8875C3.14583 0.629167 4.68333 0 6.5 0C8.31667 0 9.85417 0.629167 11.1125 1.8875C12.3708 3.14583 13 4.68333 13 6.5C13 7.23333 12.8833 7.925 12.65 8.575C12.4167 9.225 12.1 9.8 11.7 10.3L17.3 15.9C17.4833 16.0833 17.575 16.3167 17.575 16.6C17.575 16.8833 17.4833 17.1167 17.3 17.3C17.1167 17.4833 16.8833 17.575 16.6 17.575C16.3167 17.575 16.0833 17.4833 15.9 17.3L10.3 11.7C9.8 12.1 9.225 12.4167 8.575 12.65C7.925 12.8833 7.23333 13 6.5 13ZM6.5 11C7.75 11 8.8125 10.5625 9.6875 9.6875C10.5625 8.8125 11 7.75 11 6.5C11 5.25 10.5625 4.1875 9.6875 3.3125C8.8125 2.4375 7.75 2 6.5 2C5.25 2 4.1875 2.4375 3.3125 3.3125C2.4375 4.1875 2 5.25 2 6.5C2 7.75 2.4375 8.8125 3.3125 9.6875C4.1875 10.5625 5.25 11 6.5 11Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
    }/*'%231D1D1D' 앞에 ' 이것만 들어가짐 , 쉼표 절대 안들어감*/

    /*1차메뉴 li에 over가 들어갔을때*/
    header .gnb .gnb_wrap ul.depth1 > li.over > a span {
        position: relative; /*before 정렬의 기준*/
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > a span::after {
        content: "";
        position: absolute; /*span태그를 중심으로 정렬*/
        left: 0;
        top: 0;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        transition: 0.5s;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 >li > a:hover,
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 >li > a:focus {
        color: #EB2525;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 >li > a:hover span::after,
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 >li > a:focus span::after {
        width: 100%;
    }
}/*@media pc메뉴 끝*/


@media screen and (max-width:1024px){
    header {
        padding-right: 0;
    }
    header .logo a {
        width: 30px;
        height: 30px;
    }
    header .util {
        position: absolute;/*header를 기준으로 정렬 껍데기 남기지마*/
        right: var(--header-h);
        top: 2px;
    }
    header .util .lang {
      display: none;
    }
    header .util .search .search_open {
        width: 41px;
        height: var(--header-h);
        background-size: 24px; /*아이콘 가로넓이*/
    }

    /*메뉴가 열렸을때 header에 menu_open*/
    header .gnb .gnb_wrap {
        /*display: none; 메뉴가 열려야 보임*/
        position: absolute;/*header를 기준으로 정렬*/
        right: -110%;
        top: 0;
        z-index: 10;
        width: 100%;
        max-width: 320px;
        height: 100dvh;/*화면에 꽉차게*/
        background-color: #fff;
        color: #1d1d1d;
        /* box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.5); */
        transition: 0.3s;
    }
    header .gnb .gnb_wrap ul.depth1 {
        margin: var(--header-h) 0 0 0;
        padding: 16px 0 0 0;
        overflow-y: auto;
        /*컨텐츠 높이가 입력한 높이보다 커지면 스크롤바를 생성*/
        height: calc(100dvh - var(--header-h));
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        padding: 14px 65px 14px 16px;
        font-size: 20px;
        font-weight: 800;
        position: relative;/*after 정렬의 기준*/
    }
    header .gnb .gnb_wrap ul.depth1 > li > a::after {
        content: "";
        position: absolute;/*a를 기준으로 정렬*/
        right: 10px;
        top: 20px;
        width: 16px;
        height: 9px;
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='10' viewBox='0 0 16 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.99989 7.34624L14.2772 1.06895C14.4427 0.903396 14.6377 0.822702 14.862 0.826868C15.0864 0.831174 15.2814 0.916105 15.447 1.08166C15.6125 1.24735 15.6953 1.44235 15.6953 1.66666C15.6953 1.89097 15.6125 2.08596 15.447 2.25166L9.06718 8.64416C8.91649 8.79486 8.74767 8.90652 8.56072 8.97916C8.37378 9.0518 8.18683 9.08812 7.99989 9.08812C7.81295 9.08812 7.626 9.0518 7.43906 8.97916C7.25211 8.90652 7.08329 8.79486 6.9326 8.64416L0.53989 2.25166C0.374334 2.08597 0.293709 1.88881 0.298015 1.6602C0.30232 1.43159 0.387251 1.23451 0.552806 1.06895C0.718362 0.903397 0.913362 0.82062 1.13781 0.82062C1.36211 0.82062 1.55704 0.903397 1.7226 1.06895L7.99989 7.34624Z' fill='%23555555'/%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
        transition: 0.5s;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        background-color: #f4f4f4;
        padding: 26px 26px 26px 16px;
        display: none;/*1차 메뉴를 클릭하면 열림*/
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 >li > a {
        display: block;
        padding: 4px 0 4px 0;
    }
    header .gnb .gnb_close {
        display: none; /*메뉴가 열려야 보임*/
        position: absolute; /*header를 기준으로 정렬*/
        right: -14px;
        top: 0;
        z-index: 11;
        width: var(--header-h);
        height: var(--header-h);
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.9998 8.4L2.0998 13.3C1.91647 13.4833 1.68314 13.575 1.3998 13.575C1.11647 13.575 0.883138 13.4833 0.699805 13.3C0.516471 13.1167 0.424805 12.8833 0.424805 12.6C0.424805 12.3167 0.516471 12.0833 0.699805 11.9L5.5998 7L0.699805 2.1C0.516471 1.91667 0.424805 1.68334 0.424805 1.4C0.424805 1.11667 0.516471 0.883336 0.699805 0.700003C0.883138 0.51667 1.11647 0.425003 1.3998 0.425003C1.68314 0.425003 1.91647 0.51667 2.0998 0.700003L6.9998 5.6L11.8998 0.700003C12.0831 0.51667 12.3165 0.425003 12.5998 0.425003C12.8831 0.425003 13.1165 0.51667 13.2998 0.700003C13.4831 0.883336 13.5748 1.11667 13.5748 1.4C13.5748 1.68334 13.4831 1.91667 13.2998 2.1L8.3998 7L13.2998 11.9C13.4831 12.0833 13.5748 12.3167 13.5748 12.6C13.5748 12.8833 13.4831 13.1167 13.2998 13.3C13.1165 13.4833 12.8831 13.575 12.5998 13.575C12.3165 13.575 12.0831 13.4833 11.8998 13.3L6.9998 8.4Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
    }
    header .gnb .gnb_bg {
        position: absolute; /*header를 정렬*/
        left: 0;
        top: 0;
        width: 100%;
        height: 100dvh;
        background-color: #000;
        opacity: 0.5;
        display: none;

    }
    /* header.menu_open .logo {
        position: relative;
        z-index: 10; /*z-index는 position값이 필수
    }*/
    /* header.menu_open .logo a {
        background-image: url(../images/logo_y.svg);
    }  */
    header.menu_open .gnb .gnb_wrap {
        display: block;
        right: 0;
    }
    header.menu_open .gnb .gnb_close {
        display: block;
    }
    /* header.menu_open .util {
        z-index: 10;
    } */
     /* header .util .search .search_open {
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.5 13C4.68333 13 3.14583 12.3708 1.8875 11.1125C0.629167 9.85417 0 8.31667 0 6.5C0 4.68333 0.629167 3.14583 1.8875 1.8875C3.14583 0.629167 4.68333 0 6.5 0C8.31667 0 9.85417 0.629167 11.1125 1.8875C12.3708 3.14583 13 4.68333 13 6.5C13 7.23333 12.8833 7.925 12.65 8.575C12.4167 9.225 12.1 9.8 11.7 10.3L17.3 15.9C17.4833 16.0833 17.575 16.3167 17.575 16.6C17.575 16.8833 17.4833 17.1167 17.3 17.3C17.1167 17.4833 16.8833 17.575 16.6 17.575C16.3167 17.575 16.0833 17.4833 15.9 17.3L10.3 11.7C9.8 12.1 9.225 12.4167 8.575 12.65C7.925 12.8833 7.23333 13 6.5 13ZM6.5 11C7.75 11 8.8125 10.5625 9.6875 9.6875C10.5625 8.8125 11 7.75 11 6.5C11 5.25 10.5625 4.1875 9.6875 3.3125C8.8125 2.4375 7.75 2 6.5 2C5.25 2 4.1875 2.4375 3.3125 3.3125C2.4375 4.1875 2 5.25 2 6.5C2 7.75 2.4375 8.8125 3.3125 9.6875C4.1875 10.5625 5.25 11 6.5 11Z' fill='%232d2d2d'/%3E%3C/svg%3E%0A");
    } */

    /*2차메뉴 열기*/
    header .gnb .gnb_wrap ul.depth1 > li.open > ul.depth2 {
        /* display: block; */
    }
    header .gnb .gnb_wrap ul.depth1 > li.open > a::after {
        transform: rotate(180deg);
    }
}



@media screen and (max-width:765px){
    header .logo a {
        width: 24px;
        height: 24px;
       }
    header .gnb .gnb_open {
        background-size: 21px;
    }
    header .util .search .search_open {
        background-size: 17px; /*아이콘 가로넓이*/
    }
}

.visual {
    height: 100dvh;
    background: url(../images/menu_visual_bg.jpg) no-repeat center center / cover;
}
.visual .wrapper {
   
}
