@import url(common.css);
.asia {
    margin: 164px 0 0 0;
}
.asia .wrapper {
    display: flex; /*tit photo 좌우배치*/
    flex-direction: row-reverse; /*이미지 글 좌우 변경*/
    align-items: flex-end; /*글 사진 끝자락 아래로 내리기*/
    gap: 0 24px;
}
.asia .tit h2 {
    font-size: 27px;
    font-weight: 800;
    line-height: 1.3;
    color: #1d1d1d;
    margin: 0 0 30px 0;
}

@media screen and (max-width:768px){
    .asia {
        margin: 122px 0 0 0;
    }
    .asia .wrapper {
        display: block; /*tit photo 위아래로 변경*/
        /* flex-direction: row-reverse; 이미지 글 좌우 변경
        align-items: flex-end; /*글 사진 끝자락 아래로 내리기
        gap: 0 24px; 
        display: flex;가 아님 적용이 안됨*/ 
    }
    .asia .tit h2 {
        font-size: 25px;
        color: #1d1d1d;
        margin: 0 0 32px 0;
    }
    .asia .photo {
        margin: 25px 0 0 0;
    }
    .asia .photo img {
        width: 100%;
    }
    
} /*media*/


.photo_wrap {
    margin: 50px 0 0 0;
}
.photo_wrap .photo {
    overflow: hidden;
    width: 725px;
    height: 433px;
}
.photo_wrap .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media screen and (max-width:768px){
    .photo_wrap {
        margin: 50px 0 0 0;
    }
    .photo_wrap .photo {
        width: auto;
        height: 110px;
    }
}  /*media*/

.mission {
    margin: 127px 0 19px 0;
    text-align: center;
}
.mission .strong {
    font-size: 17px;
    font-weight: 800;
    color: #555;
}
.mission h2 {
    font-size: 27px;
    font-weight: 800;
    line-height: 1.3;
    color: #1d1d1d;
    margin: 19px 0 36px 0;
}
.mission h2 br.mo_only {
    display: none; /*pc버전 줄바꿈 안함*/
}

@media screen and (max-width:768px){
    .mission {
        margin: 59px 0 5px 0;
    }
    .mission h2 {
        font-size: 27px;
         margin: 5px 0 25px 0;
    }
    .mission h2 br.mo_only {
        display: block; /*모바일 버전 줄바꿈 함*/
    }
    .mission h2 br.pc_only {
        display: none; /*줄바꿈 안함*/
    }
    .mission p br {
        display: none; /*줄바꿈 안함*/
    }
}/*@media*/

.winner {
    margin: 86px 0 29px 0;
}
.winner .tit strong {
    font-weight: 800;
    color: #555;
}
.winner .tit h2 {
    font-size: 27px;
    font-weight: 800;
    line-height: 1.3;
    color: #1d1d1d;
    margin: 19px 0 36px 0;
}
.winner .list {
    margin: 45px 0 0 0;
}
.winner .list .swiper-slide a {
    display: block; /*a는 무조건 black 주는게 좋음*/
}
.winner .list .swiper-slide a .photo {
    overflow: hidden;
    height: 180px;
}
.winner .list .swiper-slide a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.winner .list .swiper-slide a h3 {
    font-weight: 800;
    line-height: 1.3;
    color: #1d1d1d;
    margin: 9px 0 0 0;
    position: relative; /*before의 정렬*/
    padding: 4px 5px 4px 5px;
    transition: 0.3s;

    /*1줄제안*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.winner .list .swiper-slide a h3::before {
    content: "";
    position: absolute; /*h3 기준으로 정렬*/
    left: 0;
    top: 0;
    z-index: -1; /*분홍네모안에 글씨가 안나올때 사용*/
    width: 0;
    height: 100%; /*줘봤자 안들어감*/
    background-color: #E7336E;
    transition: 0.5s;
}
.winner .list .swiper-slide a:hover h3 {
    color: #fff;
}
.winner .list .swiper-slide a:hover h3::before {
    width: 100%;
}


@media screen and (max-width:768px){
    .winner {
        margin: 96px 0 14px 0;
    }
    
    .winner .tit h2 {
        font-size: 25px;
        margin: 14px 0 29px 0;
    }
    .winner .list {
        margin: 13px 0 0 0;
    }
    .winner .list .swiper-slide a {
        display: block; /*a는 무조건 black 주는게 좋음*/
    }
    .winner .list .swiper-slide {
        width: 200px;
    }
    .winner .list .swiper-slide a .photo {
       height: 180px;
    }
    .winner .list .swiper-slide a h3 {
        white-space: wrap;
        overflow: visible;
        position: relative; /*before의 정렬*/
        padding: 4px 5px 4px 5px;
        transition: 0.3s;
    
        /*1줄제안*/
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .winner .list .swiper-slide a h3::before {
        content: "";
        position: absolute; /*h3 기준으로 정렬*/
        left: 0;
        top: 0;
        z-index: -1; /*분홍네모안에 글씨가 안나올때 사용*/
        width: 0;
        height: 100%; /*줘봤자 안들어감*/
        background-color: #E7336E;
        transition: 0.5s;
    }
    .winner .list .swiper-slide a:hover h3 {
        color: #fff;
    }
    .winner .list .swiper-slide a:hover h3::before {
        width: 100%;
    }
} /*@media*/



