@import url(common.css);

.plus {
    margin: 164px 0 0 0;
}
.plus .wrapper {
    display: flex; /*tit 와 photo 좌우배치하기 위해서*/
    justify-content: space-between; /*여백이 있을때만 사용*/
    align-items: flex-start; /*위를 기준으로*/
}
.plus .tit {
    width: 40%; /*1260에서 넓이 폰트박스 넓이504
                504 / 1260 * 100 = 40 */
    margin: 37px 0 0 0;
}
.plus .photo{
    width: 49.04%; /*사진넓이 618 1260에서 넓이
                    618 / 1260 * 100 = 49.04 */
    border-radius: 20px;
}
.plus .photo img {
    vertical-align: top; /*이미지 하단 여백 삭제*/
}
.plus .tit h2 {
    font-size: 40px;
    font-weight: 800;
    color: #1d1d1d;
    line-height: 1.3;
    margin: 0 0 19px 0;
}
@media screen and (max-width:1024px){
    .plus .tit h2 {
        font-size: 32px;
    }
}/*@media 1024*/
@media screen and (max-width:768px){
    .plus {
        margin: 68px 0 0 0;
    }
    .plus .wrapper {
        display: block; /*flex를 block 좌우정렬X 위아래 정렬*/
    }
    .plus .tit {
        width: auto;/*넓이 고정 값을 삭제해고 원래 tit이 가져야 하는 넓이값을 줌 block 요소면 100%*/
        margin: 0 0 32px 0;
    }
    .plus .photo{
        width: auto; 
        border-radius: 10px;
    }
    .plus .tit h2 {
        font-size: 24px;
        margin: 0 0 13px 0;
    }
}/*@media 768*/


.support {
    margin: 87px 0 0 0;
}
.support .wrapper {
    display: flex; /*포토 타이틀 좌우배치*/
    flex-direction: row-reverse; /*좌우 변경*/
    justify-content: space-between;
}
.support .tit {
    /*넓이가 고정*/
    width: 504px;
    margin: 30px 0 0 0;
}
.support .photo {
    /*tit의 넓이 빼고 나머지 - 넓이가 변경됨*/
    width: calc(100% - 642px); /*photo끝과 tit끝 사이 넓이*/
    height: 291px;
    border-radius: 20px;
}
.support .tit h2 {
    font-size: 40px;
    font-weight: 800;
    color: #1d1d1d;
    line-height: 1.3;
    margin: 0 0 19px 0;
}
@media screen and (max-width:1024px){
    .support .tit {
        width: 400px;
    }
    .support .photo {
        width: calc(100% - 440px); 
    }
    .support .tit h2 {
        font-size: 32px;
    }
}/*@media 1024*/
@media screen and (max-width:768px){
    .support {
        margin: 68px 0 0 0;
    }
    .support .wrapper {
        display: block;
    }
    .support .tit {
        /*넓이가 고정*/
        width: auto;
        margin: 0 0 29px 0;
    }
    .support .photo {
        /*tit의 넓이 빼고 나머지 - 넓이가 변경됨*/
        width: auto; /*photo끝과 tit끝 사이 넓이*/
        height: 271px;
        border-radius: 10px;
    }
    .support .tit h2 {
        font-size: 24px;
        margin: 0 0 13px 0;
    }
}/*@media 768*/


.minus {
    margin: 120px 0 0 0;
}
.minus .wrapper {
    display: flex;
    justify-content: space-between;
}
.minus .tit {
    width: 40%;
    margin: 30px 0 0 0;
}
.minus .photo {
    width: 50%;
    height: 291px;
    border-radius: 20px;
}
.minus .tit h2 {
    font-size: 40px;
    font-weight: 800;
    color: #1d1d1d;
    line-height: 1.3;
    margin: 0 0 19px 0;
}
@media screen and (max-width:1024px){
    .minus .tit h2 {
        font-size: 32px;
    }
}
@media screen and (max-width:768px){
    .minus {
        margin: 70px 0 0 0;
    }
    .minus .wrapper {
        display: block;
    }
    .minus .tit {
        width: auto;
        margin: 0 0 17px 0;
    }
    .minus .photo {
        width: auto;
        height: 200px;
        border-radius: 10px;
    }
    .minus .tit h2 {
        font-size: 24px;
        margin: 0 0 15px 0;
    }
}/*media minus*/

.service {
    background-color: #3780FF;
    color: #fff;
    padding: 158px 0 141px 0;
    margin: 100px 0 0 0;
}
.service .list ul {
    display: flex; /*li좌우 배치*/
}
.service .list ul li {
    width: 16.66%;
    /*나를 감싸는 ul의 넓이의 16%*/
}
.service .list ul li a {
    display: flex;
    align-items: center;
    gap: 0 7px;
}
.service .list ul li a i {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    /*svg를 가운데로 배치*/
    display: flex; /*정렬하고 싶은 아이템들을 감싸는 부모 요소(컨테이너)*/
    justify-content: center;/*아이템들을 정렬 웹페이지에서는 기본적으로 주축이 가로 방향
                            아이템들을 배치하고 남는 여백은 양옆에 균등하게 배분*/
    align-items: center;
}
.service .list ul li a span {
    font-size: 20px;
    font-weight: 800;
    line-height: 1.3;
}
@media screen and (max-width:1320px){ /*wrapper 넓이가 풀린시점*/
    .service .list ul li a {
        flex-direction: column;/*a안에서 좌우에 가운데 flex로*/
        gap: 14px 0;
    }
    .service .list ul li a span br{
        display: none; /*줄바꿈*/
    }
}/*media*/
@media screen and (max-width:1024px){
    .service .list ul li a span {
        font-size: 17px;
        text-align: center;/*두 줄 글씨를 가운데로 맞춰서 표현*/
    }
    .service .list ul li a span br{
        display: none; /*줄바꿈 다시사용*/
    }
}/*@media*/
@media screen and (max-width:768px){
    .service {
        padding: 55px 0 61px 0;
        margin: 72px 0 0 0;
    }
    .service .list ul {
        flex-wrap: wrap; /*여러 줄 허용*/
        gap: 47px 0; /*li와li의 여백*/
    }
    .service .list ul li {
        width: 33.33%;
    }
    .service .list ul li a {
        gap: 4px 0; /*글자와 아이콘 사이의 여백*/
    }
    .service .list ul li a i {
        width: 35px;
        height: 35px;
        background-color: transparent;/*투명*/
    }
    .service .list ul li a i svg {
        width: 90%;
        height: 90%;
        /*감싸는 영역이 svg에 써있는 사이즈보다 작으면 지동으로 사이즈가 줄어듬*/
    }
    .service .list ul li a i svg path {
        fill: #fff; /*내가 복사한 svg html에 path에 fill이 들어가 있음
                    그래서 path에 fill을 줘야함*/
    }
}/*@media*/
@media screen and (max-width:460px){
    .service .list ul li {
        width: 50%; /*브라우저460px 이하로 줄어들면 2줄로 나옴*/
    }
}/*@media*/

.sdi {
    margin: 100px 0 0 0;
}
.sdi .tit h2 {
    font-size: 40px;
    font-weight: 800;
    color: #1d1d1d;
    line-height: 1.3;
    margin: 0 0 18px 0;
}
.sdi .inner {
    margin: 38px 0 0 0;
    display: flex;
    gap: 0 22px;
}
.sdi .inner .item {
    background-color: #f4f4f4;
    border-radius: 15px;
    height: 222px;
    width: calc(25% - 18px); /*나와 같은 사이즈가 있을때의 사이즈*/
    padding: 28px 26px 0 26px;
}
.sdi .inner .item.career {
    width: calc(50% - 12px); /*나와 같은 사이즈가 있을때의 사이즈*/
    padding: 0;
}
.sdi .inner .item h3 {
    font-size: 27px;
    font-weight: 800;
    color: #1d1d1d;
    margin: 0 0 15px 0;
}
.sdi .inner .career .career_tit {
    background-color: #3780FF;
    color: #fff;
    border-radius: 15px 15px 0 0;
    padding: 29px 33px 23px 33px;
    display: flex;
    gap: 0 41px;
    align-items: center;
}
.sdi .inner .career .career_tit h3 {
    color: #fff;
}
.sdi .inner .career .career_list ul {
    display: flex;
    margin: 48px 0 0 0;
}
.sdi .inner .career .career_list ul li {
    width: 33.33%;
    text-align: center;
}
.sdi .inner .career .career_list ul li a {
    font-size: 17px;
    font-weight: 400;
    color: #1d1d1d;
    display: block;
}
.sdi .inner .career .career_list ul li a br {
    display: none; /*줄바꿈 지금 안할거임*/
}
@media screen and (max-width:1024px){
    .sdi .inner .career .career_list ul li a br {
        display: block; /*줄바꿈 적용*/
    }
}/*media 1024px*/
@media screen and (max-width:768px){
    .sdi {
        margin: 60px 0 0 0;
    }
    .sdi .tit h2 {
        font-size: 24px;
        font-weight: 800;
        color: #1d1d1d;
        line-height: 1.3;
        margin: 0 0 18px 0;
    }
    .sdi .inner {
        flex-wrap: wrap; /*2줄 허용*/
        gap: 16px 16px;
    }
    .sdi .inner .item {
        width: calc(50% - 8px); 
    }
    .sdi .inner .item.career {
        width: 100%; /*flex로 정렬되기 때문에 절대 auto가 안됨*/
    }
    .sdi .inner .item h3 {
        font-size: 22px;
        margin: 0 0 5px 0;
    }
    .sdi .inner .career .career_tit {
       border-radius: 15px 15px 0 0;
        padding: 29px 33px 23px 33px;
        display: flex;
        gap: 0 18px;
        align-items: center;
    }
   .sdi .inner .career .career_list ul {
         margin: 48px 0 0 0;
    }
    .sdi .inner .career .career_list ul li {
        width: 33.33%;
        text-align: center;
    }
    .sdi .inner .career .career_list ul li a {
        font-size: 17px;
        font-weight: 400;
        color: #1d1d1d;
        display: block;
    }
    .sdi .inner .career .career_list ul li a br {
        display: none; /*줄바꿈 지금 안할거임*/
    }
}/*media 768px*/






body {
    margin: 0 0 500px 0;
}