@import url(common.css);

.test {
    margin: 50px 0 0 0;
}
.test h2 {
    font-size: 40px;
}
.test h2 strong {
    font-size: 20px;
}
.test h3 {
    font-size: 2.5em;
}
.test h3 strong {
    font-size: 2em;
}
.test h4 {
    font-size: 2.5rem;
}
.test h4 strong {
    font-size: 2rem;
}
.test h5 {
    font-size: 2vw;
}
.test h5 strong {
    font-size: 1vw;
}
.test h6 {
    font-size: clamp(24px, 3vw, 40px);
}
.news {
    margin: 132px 0 0 0; 
}

.news .tit h2 {
    font-size: var(--tit-font-size);
    color: var(--tit-color);
    line-height: var(--tit-line-height);
    font-weight: var(--bold-weight);
    margin: 0 0 26px 0;
}
.news .tit h2 span {
    display: block; /*span태그와 다른글자가 줄바꿈이 발생
                    나 혼자 살꺼야 나가*/
}
.news .wrapper {
    display: flex; /*tit-list 좌우정렬*/
    position: relative; /*more 정렬의 기준*/
}
.news .tit {
    width: 34%; /*100 - 66 = 34*/
}                         /*둘이 합쳐서 100이 되어야 함*/
.news .list {
    width: 66%; /*선이 832px가 1260px 안에서 몇?(백분율 계산기 참고)
                832 / 1260 * 100 = 66.03174603174604*/
}
.news .list ul li {
    border-bottom: 1px solid #ccc;
}
.news .list ul li:first-child {
    border-top: 1px solid #ccc;
}
.news .list ul li a {
    display: flex; /*h3 - span 태그를 좌우로 들어가야 하기 때문에*/
    justify-content: space-between;
    align-items: center; /*주제와 날짜가 서로 살짝 안맞아서 align-items: center;이걸 사용*/
    padding: 31px 0 31px 0;
    
}
.news .list ul li a h3 {
    font-size: var(--h3-font-size);
    color: var(--tit-color);
    line-height: var(--tit-line-height);
    font-weight: var(--bold-weight);
    width: calc(100% - 142px);
    /*날짜는 길이 변경ㅇ; 안됨 제목의 길이는 날짜의 고정 넓이 빼고 나머지 전체*/
    /*1줄제한*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.news .more {
    position: absolute; /*wrapper를 기준으로 정렬*/
    left: 0;
    bottom: 0;
}
.news .more a {
    display: flex; /*span - i 좌우배치*/
    align-items: center;
    gap: 0 6px;
}
.news .more a i {
    width: 11px; 
}
.news .more a i svg {
    width: 100%;
    height: 100%;
}
@media screen and (max-width:768px){
            .news {
                margin: 92px 0 0 0; 
            }
            .news .tit h2 {
                margin: 0 0 0 0; /*하단에 글이 없음*/
            }
            .news .tit h2 span {
                display: none; /*모바일에선 숨김*/
            }
            .news .tit p {
                display: none;
            }
            .news .wrapper {
                display: block; /*위아래 정렬 flex해제*/
            }
            .news .tit {
                width: auto;
            }
            .news .list {
                width: auto; 
                margin: 35px 0 0 0;
            }
           .news .list ul li a {
                display: block; /*h3 - span 위아래 flex해제*/
                padding: 23px 0 17px 0;
            }
            .news .list ul li a h3 {
                width: auto;
                /*1줄제한 - 무제한*/
                white-space: nowrap; /*줄바꿈한걸 해제하는 것*/
                overflow: visible;
                margin: 0 0 6px 0;
            }
            .news .more {
                left: auto;
                right: 0; /*정렬값이 left - right로 변경되면 반드시 left를 auto로
                            해제하고 right를 줘야함*/
                bottom: auto;
                top: 0;
            }
            .news .more a { /*넓이는 a한테 줘야해*/
                justify-content: center; /*i를 가운데에 배치하려고 flex로 유지하고 
                                    (+ 요 아이콘 가운데로 옮겨)flex로 유지*/
                gap: 0;
                width: 25px;
                height: 25px;
                border: 1px solid #666;
                border-radius: 50%; /*난 동그라미야 그래서  border-radius: 50%;*/
            }
            .news .more a span {
                display: none; /*더보기 글씨 숨기자 그럼 동그라미만 남을거야*/
            }
            .news .more a i {
                width: 11px; 
            }
            .news .more a i svg {
                width: 100%;
                height: 100%;
            }
}/*@media*/
.notice {
    margin: 104px 0 0 0;
    padding: 134px 0 104px 0;
    background-color: #000;
    color: rgba(255, 255, 255, 0.8);
}

.notice .tit h2 {
    font-size: var(--tit-font-size);
    color: #fff;
    line-height: var(--tit-line-height);
    font-weight: var(--bold-weight);
    margin: 0 0 26px 0;
}
.notice .tit h2 span {
    display: block; /*span 태그가 block요소가 되면 다른 태그나 글자가 옆에 존재할수 없음
                    자동으로 다음 글자는 줄이 바뀌게 됨*/
}
.notice .wrapper {
    display: flex; /*tit-list 좌우정렬*/
    justify-content: space-between;
    position: relative; /*more정렬*/
}
/*tit 넓이 안줌*/
.notice .list {
    max-width: 832px; /*선 넓이*/
    width: calc(100% - 230px);/*브라우저가 줄어들때 좌측 tit 여백공간이 230px
                                (border-box만듬)*/
}
.notice .list ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.notice .list ul li:first-child {
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}
.notice .list ul li a {
    display: flex; /*h3 - span 좌우배치*/
    align-items: center;
    justify-content: space-between;
    padding: 31px 0 31px 0;
}
.notice .list ul li a h3 {
    font-size: var(--h3-font-size);
    line-height: var(--tit-line-height);
    font-weight: var(--bold-weight);
    color: #fff;
    
    width: calc(100% - 142px); 
    /*1줄제한*/
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.notice .more {
    position: absolute; /*wrapper를 기준으로 정렬*/
    left: 0;
    bottom: 0;
}
.notice .more a {
    display: flex; /*span - i 좌우배치*/
    align-items: center;
    gap: 0 6px;
}
.notice .more a i {
    width: 11px; 
}
.notice .more a i svg {
    width: 100%;
    height: 100%;
}
.notice .more a i svg path {
    fill: rgba(255, 255, 255, 0.6);
}
@media screen and (max-width:768px){
    .notice {
        margin: 63px 0 0 0;
        padding: 59px 0 76px 0;
    }
    
    .notice .tit h2 {
       margin: 0; /*p태그가 없어지니까*/
    }
    .notice .tit h2 span {
        display: none; /*모바일에서 숨김*/
    }
    .notice .tit p {
        display: none; /*모바일에서 숨김*/
    }
    .notice .wrapper {
        flex-direction: column;
        gap: 35px 0; 
    }
    /*tit 넓이 안줌*/
    .notice .list {
        max-width: 100%; /*최대넓이 해제*/
        width: auto;
    }
    .notice .list ul li a {
        align-items: flex-start; /*center - flex-start로 변경*/
        flex-direction: column; /*flex를 유지하면서 세로방향전환*/
        gap: 0 4px ;
        padding: 23px 0 17px 0;
    }
    .notice .list ul li a h3 {
        width: auto;
        /*1줄제한 - 무제한*/
        overflow: hidden;
        white-space: wrap;
    }
    /*absolute에서 일반으로 변경*/
    .notice .more {
        position: relative; /*position값중에서 다른 값을 줘야 하는데 이게 제일 멀쩡*/
        left: auto;
        bottom: auto;
        /*list하고 more의 여백은 wrapper가 준 gap으로 처리*/
        
        /*더보기를 옮겨야해 가운데로!!*/
        display: flex; 
        justify-content: center;
    }
    .notice .more a {
        gap: 0 14px;
        background-color: #555;
        border-radius: 20px;
        padding: 6px 10px 6px 23px;
    }
}/*@media*/