/* 모든페이지에서 중복되는 스타일 */
body {
    font-family: "Noto Sans KR", sans-serif;
    font-family: "Paperozi", "Malgun Gothic", "맑은 고딕", Dotum, "돋움", "Helvetica, AppleSDGothicNeo, sans-serif";
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    color: #555;
    word-break: keep-all; /*단어별로 줄 바꿈 포토사진 아래 글자가 이쁘게 정렬시킬때*/
}
.wrapper {
    width: 1260px;
    margin: 0 auto; /*가운데 정렬*/
}
#wrap {
    min-width: 1460px;  /*1260 + 100 + 100 = 1460*/
    position: relative; /*header 정렬의 기준  
                        페이지창이 작아졌을때 가로스크롤이 생길때 상단 좌측의 로고 왼쪽 여백이 없어서 
                        이걸로 수정*/
}
