@import url(default.css);
@import url(fonts.css);
@import url(common.css);

.visual {
    position: relative; /*btn_wrap 정렬의 기준*/
}
.visual .swiper-slide {
    height: 100dvh; /*브라우저 옾이와 동일하게*/
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: center;
}
.visual .swiper-slide.bg1 {
    background-image: url(../images/visual_bg1.jpg);
}
.visual .swiper-slide.bg2 {
    background-image: url(../images/visual_bg2.jpg);
}
.visual .swiper-slide.bg3 {
    background-image: url(../images/visual_03.jpg);
}
.visual .swiper-slide h3 {
    font-size: 60px;
    margin: 0 0 37px 0;
}
.visual .swiper-slide p {
    margin: 0 0 47px 0;
}
.visual .btn_wrap {
    position: absolute;
    left: calc(50% - 630px); /*1260의 절반*/
    bottom: 260px;
    z-index: 1; /*1이라도 있으면 올라옴*/
    display: flex;
    gap: 0 7px;
}
.visual .btn_wrap button {
    border: 1px solid #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-position: center center;
    background-repeat: no-repeat;
}
.visual .btn_wrap button.btn_prev {
    background-image: url(../images/visual_prev.svg);
}
.visual .btn_wrap button.btn_play {
    background-image: url(../images/visual_play.svg);
    display: none; /*stop버튼이 눌러야만 보임*/
}
.visual .btn_wrap button.btn_stop {
    background-image: url(../images/visual_stop.svg);
}
.visual .btn_wrap button.btn_next {
    background-image: url(../images/visual_prev.svg);
    transform: rotate(180deg);
}
@media screen and (max-width:768px){
                .visual .swiper-slide {
                   align-items: center;
                }
                .visual .swiper-slide h3 {
                    font-size: 44px;
                }
                .visual .swiper-slide h3 br {
                    display: none;/*줄바꿈 브라우저가 줄어들고 늘어날때 자동으로 줄바꿈 설정*/
                }
                .visual .swiper-slide p {
                    margin: 0;  
                }
                .visual .btn_wrap {
                    left: 50%; /*정렬의 기준 visual 넓이의 50%*/ 
                    transform: translateX(-50%); /*버튼 가운데정렬
                                                    나 자신 BTN_WRAP 넓이의 절반을 왼쪽으로 이동*/
                    bottom: 5px;
                }
                .visual .btn_wrap button {
                    border: 1px solid #fff;
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                    background-position: center center;
                    background-repeat: no-repeat;
                }
                .visual .btn_wrap button .btn_prev {
                    background-image: url(../images/visual_prev.svg);
                }
                .visual .btn_wrap button .btn_play {
                    background-image: url(../images/visual_play.svg);
                }
                .visual .btn_wrap button .btn_stop {
                    background-image: url(../images/visual_stop.svg);
                }
                .visual .btn_wrap button .btn_next {
                    background-image: url(../images/visual_prev.svg);
                    transform: rotate(180deg);
                }
}/*@media*/

.biz {
    margin: 176px 0 18px 0;
}
.biz .wrapper {
    display: flex; /*tit-list 좌우배치*/
    justify-content: space-between;
    align-items: flex-start; /*(스크롤 할때)좌측 tit 고정*/
}
.biz .tit {
    position: sticky;
    top: 50px;
}
.biz .list {
    width: 752px;
    padding: 0 0 120px 0;
}
.biz .list ul {
    display: flex; /*난 무조건 한줄로 보여줄꺼야*/
    flex-wrap: wrap; /*여러줄 허용*/
    gap: 30px 30px; /*위아래 좌우 여백*/
}
.biz .list ul li {
    width: calc(50% - 15px); /*100 / 한줄에 나오는 li의 갯수 100/2=50%
                            한줄의 여백의 합 / 한줄에 나오는 li의 갯수 30/2=15*/
}
.biz .list ul li:nth-child(odd) {  /*odd 홀수 even 짝수*/
    transform: translateY(120px); /*위아래는 Y*/
}
.biz .list ul li a {
    display: block;
    position: relative; /*position이 없어서 사용하는것
                            txt정렬의 기준*/
}
.biz .list ul li a .photo {
    overflow: hidden;
    height: 500px;
    border-radius: 30px;
}
.biz .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.biz .list ul li a .txt {
    position: absolute;
    left: 50px;
    width: calc(100% - 100px); /*px는 left 50px * 2 = 100*/
    bottom: 41px;
    color: #fff;
}
.biz .list ul li a .txt h3 {
    font-size: 30px;
}
.biz .list ul li a .txt p {
    display: none; /*안보임*/
}




footer {
    margin: 1500px 0 0 0;
}