@font-face {
    font-family: 'KakaoBig';
    src: url('../fonts/KakaoBigSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'KakaoBig';
    src: url('../fonts/KakaoBigSans-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}