@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);
#fp-nav.fp-left {
    left: 52px;
}
/*
    <li>
        <a></a> --- span 덮는 용도
        <span class="fp-tooltip"></span>
    </li>
*/
#fp-nav ul li {
    width: auto;
    height: auto;
    margin: 10px 0 10px 0;
}
#fp-nav ul li:last-child {
    display: none; /* footer 툴팁은 삭제 */
}
#fp-nav ul li a {
    position: absolute;
    left: 0;
    top: 0;
    /* border: 1px solid red; */
}
#fp-nav ul li a span {
    display: none;
}
/* 라이브러리를 쓸때 라이브러리에서 준 스타일과 내가 준 스타일이 충돌될때
   내 스타일을 먼저 적용하게 하는 방법 
   1. !important 를 줘서 내꺼를 무조건 적용하게함.
   2. 선택자를 조정 - 선택자 맨 앞에 body를 붙이면 우선순위가 높아짐
                   - 선택자를 좀 더 디테일하게 선언 */
body #fp-nav ul li .fp-tooltip {
    position: relative;
    top: auto;
    left: auto;
    color: rgba(255,255,255,0.6);
    font-size: inherit;
    font-family: inherit;
    max-width: 100%;
    overflow: visible;
    opacity: 1;
    width: auto;
    /* border-radius: 15px;
    padding: 2px 20px 2px 26px; */
    padding: 0 5px 0 3px;
    border-radius: 3px;
}
body #fp-nav ul li .fp-tooltip.fp-left {
    left: auto;
}
body #fp-nav ul li .fp-tooltip::before {
    content: "";
    position: absolute;
    left: -12px;
    top: 10px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    border: 1px solid rgba(255,255,255,0.6);
}
/* active 되었을때 

    <li>
        <a class="active"></a>
        <div class="fp-tooltip"></div>   --- a.active 클래스가 있는 밑에 있는 tooltip을 선택하는 방법
    </li>
    <li>
        <a></a>
        <div class="fp-tooltip"></div>
    </li>
*/
body #fp-nav ul li a.active + .fp-tooltip {
    background-color: var(--color-main);
    color: #fff;
    display: inline-block;
}
body #fp-nav ul li a.active + .fp-tooltip::before {
    border-color: var(--color-main);
    background-color: var(--color-main);
}
body #fp-nav ul li a.active + .fp-tooltip::after {
    content: "";
    position: absolute;
    left: -58px;
    top: 13px;
    width: 52px;
    height: 1px;
    background-color: var(--color-main);
}
/* #fp-nav에 dark 클래스가 들어갔을때 */
body #fp-nav.dark ul li .fp-tooltip {
    color: #7C889F;
}
body #fp-nav.dark ul li .fp-tooltip::before {
    border-color: #7C889F;
}
body #fp-nav.hide {
    display: none;
}
@media screen and (max-width:1600px){
    #fp-nav {
        display: none !important; 
    }
}


.visual .swiper {
    width: 100%;
    height: 100%; /* visual의 높이를 따라가고 싶어서 */
}
.visual .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.visual .swiper-slide .photo,
.visual .swiper-slide .video {
    position: absolute; /* swiper-slide를 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.visual .swiper-slide .photo img,
.visual .swiper-slide .video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.visual .swiper-slide .photo img {
    transition: transform 5s;
    transform: scale3d(1.2, 1.2, 1);
}
.visual .swiper-slide.swiper-slide-active .photo img {
    transform: scale3d(1, 1, 1);
}
.visual .swiper-slide .txt {
    color: #fff;
    text-align: center;
    margin: calc(var(--header-h) + 20px) 0 40px 0;
}
.visual .swiper-slide .txt strong, 
.visual .swiper-slide .txt h3,
.visual .swiper-slide .txt a {
    transition: transform 1s, opacity 1s;
    opacity: 0;
    transform: translateY(100px);
}
.visual .swiper-slide .txt strong {
    font-weight: 800;
    display: block;
    transition-delay: 0.3s;
}
.visual .swiper-slide .txt h3 {
    font-size: 60px;
    font-weight: 800;
    line-height: 1.3;
    margin: 20px 0 54px 0;
    transition-delay: 0.6s;
}
.visual .swiper-slide .txt a {
    display: inline-block;
    padding: 0.3529em 2.4706em;
    border: 1px solid #fff;
    border-radius: 20px;
    transition-delay: 0.9s;
}
.visual .swiper-slide.swiper-slide-active .txt strong, 
.visual .swiper-slide.swiper-slide-active .txt h3,
.visual .swiper-slide.swiper-slide-active .txt a {
    opacity: 1;
    transform: translateY(0);
}
.visual .paging {
    position: absolute; /* visual을 기준으로 정렬 */
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    z-index: 10;
    width: calc(100% - var(--wrapper-margin) - var(--wrapper-margin));
    max-width: 1260px;
}
.visual .paging ul {
    display: flex;
    gap: 0 2px;
}
.visual .paging ul li.swiper-pagination-bullet {
    margin: 0;
    width: 25%;
    height: auto;
    display: block;
    border-radius: 0;
    background: none;
    opacity: 1;
    color: rgba(255,255,255,0.6);
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    border-bottom: 6px solid rgba(255,255,255,0.4);
    padding-bottom: 14px;
    position: relative; /* after 정렬의 기준 */
}
.visual .paging ul li.swiper-pagination-bullet.swiper-pagination-bullet-active {
    color: #fff;
}
.visual .paging ul li.swiper-pagination-bullet.swiper-pagination-bullet-active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 6px;
    background-color: #fff;
    width: 0%;
    animation: paging 5s linear 1 forwards;
    /* 애니메이션 이름, 몇초동안실행, 애니메이션 가속도, 1번실행, 끝나면 100% */
}
@keyframes paging {
    0% { width: 0%; }
    100% { width: 100%; }
}

@media screen and (max-width:1320px){
    .visual .swiper-slide .txt h3 {
        font-size: 40px;
    }
}/*@media끝*/
@media screen and (max-width:768px){
    .visual .swiper-slide {
        height: 600px;
    }
    .visual .swiper-slide .txt h3 {
        font-size: 28px;
        margin: 17px 0 24px 0;
    }
    .visual .paging {
        width: auto;
        max-width: 100%;
    }
    .visual .paging ul {
        gap: 0 4px;
    }
    .visual .paging ul li.swiper-pagination-bullet {
        width: 8px;
        height: 8px;
        border-radius: 4px; /* 높이 절반 */
        background: #fff;
        border-bottom: none;
        padding-bottom: 0;
    }
    .visual .paging ul li.swiper-pagination-bullet.swiper-pagination-bullet-active {
        width: 43px;
    }
    .visual .paging ul li.swiper-pagination-bullet.swiper-pagination-bullet-active::after {
        display: none;
    }
    .visual .paging ul li.swiper-pagination-bullet span {
        display: none; /* 글자 없앰 */
    }
}/*@media끝*/

.tree .wrapper {
    display: flex; /* tit-photo 좌우 */
    justify-content: space-between;
    align-items: center;
    margin-top: calc(var(--header-h) + 20px);
    margin-bottom: 20px;
}
.tree .tit h2 {
    color: var(--color-main);
    font-weight: 800;
    line-height: 1;
    display: flex;
    gap: 0 5px;
    align-items: flex-start;
    margin: 0 0 16px 0;
}
.tree .tit h2 strong {
    font-size: 80px;
}
.tree .tit h2 span {
    margin-top: 9px;
}

.tree .photo {
    position: relative; /* img 정렬기준 */
    width: 59%;
    max-width: 715px;
    min-width: 300px;
    padding-left: 6%;
}
.tree .photo .tree_img {
    width: 90%;
    position: relative;
    z-index: 2;
}
.tree .photo .cloud01 {
    position: absolute;
    right: 2%;
    top: 12%;
    width: 35%;
    z-index: 3;
}
.tree .photo .cloud02 {
    position: absolute;
    left: 0;
    bottom: 20%;
    width: 35%;
    z-index: 1;
    animation: tree_cloud02 3s linear infinite;
    /* 이름, 애니메이션 시간, 가속도, 무한반복 */
}
@keyframes tree_cloud02 {
    0% { transform: translateX(0); }
    50% { transform: translateX(10%); }
    100% { transform: translateX(0); } /* 반드시 100%는 0하고 같아야함 */
}
.tree .photo .sun {
    position: absolute;
    right: 0;
    top: 0;
    width: 25%;
    z-index: 1;
    animation: tree_sun 8s linear infinite;
}
@keyframes tree_sun {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@media screen and (max-width:1024px){
    .tree .wrapper {
        flex-direction: column;
        gap: 35px 0;
        text-align: center;
    }
    .tree .tit h2 {
        justify-content: center;
    }
}/*@media끝*/
@media screen and (max-width:768px){ 
    .tree .tit h2 strong {
        font-size: 50px;
    }
}/*@media끝*/



.work {
    background-color: var(--color-title);
    color: #fff;
}
.work .wrapper {
    display: flex;/*tit,list 좌우*/
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
}
.work .tit strong {
    font-weight: 800;
    color: var(--color-main);
}
.work .tit h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.3;
    margin: 10px 0 22px 0 ;
}
.work .list {
    width: 55%;
    max-width: 620px;
}
.work .list ul {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 24px;
}
.work .list ul li {
    width: calc(50% - 12px);
}
/*:nth-child(odd) - 홀수, :nth-child(even) - 짝수 */
.work .list ul li:nth-child(odd) {
    transform: translateY(30px);
}
/* .work .list ul li:nth-child(even) {
    transform: translateY(-15px);
} */
.work .list ul li a {
    display: block;
    height: 180px;
    background-color: #fff;
    border-radius: 17px;
    color: var(--color-title);
    padding: 127px 0 0 36px;
    font-size: 24px;
    font-weight: 800;
    line-height: 1.3;
    position: relative;
    overflow: hidden;/*밖으로 못나가게 잡아라*/
}
.work .list ul li a:hover {
    color: #fff;
}
.work .list ul li a::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 110%;/*이미지가 꽉 안찰때 최대크기 110%*/
    transition: height 0.5s;
}
.work .list ul li a:hover::before {
    height: 100%;
}
.work .list ul li.ico01 a::before {
    background-image: url(../images/main/list_bg01.jpg);
}
.work .list ul li.ico02 a::before {
    background-image: url(../images/main/list_bg02.jpg);
}
.work .list ul li.ico03 a::before {
    background-image: url(../images/main/list_bg03.jpg);
}
.work .list ul li.ico04 a::before {
    background-image: url(../images/main/list_bg04.jpg);
}
.work .list ul li.ico05 a::before {
    background-image: url(../images/main/list_bg05.jpg);
}
.work .list ul li.ico06 a::before {
    background-image: url(../images/main/list_bg06.jpg);
}
.work .list ul li a span {
    position: relative;/*before, after 정렬의 기준*/
    display: block;/*span*/
}
.work .list ul li a span::before {
    content: "";
    position: absolute;
    left: 0;
    top: -96px;
    width: 80px;
    height: 93px;
    background-repeat: no-repeat;
    background-position: left center;/*좌우왼쪽, 위아래가운데*/
}
.work .list ul li.ico01 a:hover span::before {
    background-image: url("data:image/svg+xml,%3Csvg width='61' height='61' viewBox='0 0 61 61' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_27_1892)'%3E%3Cpath d='M59.4802 57.6H56.9502V44.9C59.1802 44.3 60.7902 42.4 60.7902 40.1C60.7902 37.3 58.5602 35.1 55.7302 35.1C52.9002 35.1 50.6702 37.3 50.6702 40.1C50.6702 42.4 52.2902 44.4 54.5102 44.9V57.6H48.0402V12.6H51.8802C52.5902 12.6 53.2002 12 53.2002 11.3V1.3C53.2002 0.6 52.5902 0 51.8802 0H8.90023C8.19023 0 7.58023 0.6 7.58023 1.3V11.3C7.58023 12 8.19023 12.6 8.90023 12.6H12.6402V57.6H6.27023V44.9C8.50023 44.3 10.1102 42.4 10.1102 40.1C10.1102 37.3 7.88023 35.1 5.05023 35.1C2.22023 35.1 -0.00976562 37.3 -0.00976562 40.1C-0.00976562 42.4 1.61023 44.4 3.83023 44.9V57.6H1.32023C0.610234 57.6 0.000234375 58.2 0.000234375 58.9C0.000234375 59.6 0.610234 60.2 1.32023 60.2H59.4902C60.2002 60.2 60.8102 59.6 60.8102 58.9C60.7102 58.2 60.1002 57.6 59.4902 57.6H59.4802ZM53.1102 40.1C53.1102 38.7 54.2202 37.6 55.6402 37.6C57.0602 37.6 58.1702 38.7 58.1702 40.1C58.1702 41.5 57.0602 42.6 55.6402 42.6C54.2202 42.6 53.1102 41.5 53.1102 40.1ZM2.53023 40.1C2.53023 38.7 3.64023 37.6 5.06023 37.6C6.48023 37.6 7.59023 38.7 7.59023 40.1C7.59023 41.5 6.48023 42.6 5.06023 42.6C3.64023 42.6 2.53023 41.5 2.53023 40.1ZM10.1202 2.6H50.5802V10.1H10.1202V2.6ZM15.1702 57.6V12.6H45.5202V57.6H15.1702Z' fill='white'/%3E%3Cpath d='M25.2902 18.9004H20.2302C19.5202 18.9004 18.9102 19.5004 18.9102 20.2004V25.2004C18.9102 25.9004 19.5202 26.5004 20.2302 26.5004H25.2902C26.0002 26.5004 26.6102 25.9004 26.6102 25.2004V20.2004C26.6102 19.4004 26.0002 18.9004 25.2902 18.9004ZM24.0802 23.9004H21.5502V21.4004H24.0802V23.9004Z' fill='white'/%3E%3Cpath d='M40.4601 18.9004H35.4001C34.6901 18.9004 34.0801 19.5004 34.0801 20.2004V25.2004C34.0801 25.9004 34.6901 26.5004 35.4001 26.5004H40.4601C41.1701 26.5004 41.7801 25.9004 41.7801 25.2004V20.2004C41.7801 19.4004 41.1701 18.9004 40.4601 18.9004ZM39.2501 23.9004H36.7201V21.4004H39.2501V23.9004Z' fill='white'/%3E%3Cpath d='M25.2902 30.0996H20.2302C19.5202 30.0996 18.9102 30.6996 18.9102 31.3996V36.3996C18.9102 37.0996 19.5202 37.6996 20.2302 37.6996H25.2902C26.0002 37.6996 26.6102 37.0996 26.6102 36.3996V31.3996C26.6102 30.6996 26.0002 30.0996 25.2902 30.0996ZM24.0802 35.0996H21.5502V32.5996H24.0802V35.0996Z' fill='white'/%3E%3Cpath d='M40.4601 30.0996H35.4001C34.6901 30.0996 34.0801 30.6996 34.0801 31.3996V36.3996C34.0801 37.0996 34.6901 37.6996 35.4001 37.6996H40.4601C41.1701 37.6996 41.7801 37.0996 41.7801 36.3996V31.3996C41.7801 30.6996 41.1701 30.0996 40.4601 30.0996ZM39.2501 35.0996H36.7201V32.5996H39.2501V35.0996Z' fill='white'/%3E%3Cpath d='M25.2902 41.4004H20.2302C19.5202 41.4004 18.9102 42.0004 18.9102 42.7004V47.7004C18.9102 48.4004 19.5202 49.0004 20.2302 49.0004H25.2902C26.0002 49.0004 26.6102 48.4004 26.6102 47.7004V42.7004C26.6102 41.9004 26.0002 41.4004 25.2902 41.4004ZM24.0802 46.4004H21.5502V43.9004H24.0802V46.4004Z' fill='white'/%3E%3Cpath d='M40.4601 41.4004H35.4001C34.6901 41.4004 34.0801 42.0004 34.0801 42.7004V47.7004C34.0801 48.4004 34.6901 49.0004 35.4001 49.0004H40.4601C41.1701 49.0004 41.7801 48.4004 41.7801 47.7004V42.7004C41.7801 41.9004 41.1701 41.4004 40.4601 41.4004ZM39.2501 46.4004H36.7201V43.9004H39.2501V46.4004Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_27_1892'%3E%3Crect width='60.8' height='60.2' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.work .list ul li.ico02 a:hover span::before {
    background-image: url("data:image/svg+xml,%3Csvg width='61' height='61' viewBox='0 0 61 61' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_27_1886)'%3E%3Cpath d='M59.7732 57.5953H52.4219V24.9392C57.0495 24.3366 60.7287 18.9328 60.7287 12.5182C60.7287 5.60791 56.6145 0 51.5449 0C46.4752 0 42.3611 5.60791 42.3611 12.5182C42.3611 19.03 45.9619 24.3366 50.6679 24.9392V57.5953H45.0207V40.8299C45.0207 40.169 44.6142 39.5858 44.1508 39.5858H37.3057V29.5946C37.3057 29.2642 37.213 28.9726 37.0276 28.7296L31.0738 20.7114C30.7244 20.2351 30.1469 20.2351 29.7975 20.7114L23.8437 28.7296C23.7082 28.9143 23.5656 29.2739 23.5656 29.5946V39.6441H16.7205C16.2214 39.6441 15.8007 40.2176 15.8007 40.8882V57.5953H8.86295V39.4303C12.1714 38.9249 14.7312 35.0762 14.7312 30.5179C14.7312 25.5612 11.7365 21.518 8.05723 21.518C4.378 21.518 1.36902 25.5612 1.36902 30.5179C1.36902 35.0762 3.92166 38.9152 7.23725 39.4303V57.5953H0.955459C0.442078 57.5953 0 58.1979 0 58.8976C0 59.5974 0.442078 60.2 0.955459 60.2H59.8445C60.3579 60.2 60.8 59.5974 60.8 58.8976C60.6503 58.1979 60.2153 57.5953 59.7732 57.5953ZM8.08575 28.7976C7.6508 28.7976 7.28003 29.303 7.28003 29.8862V31.5481L5.65432 29.721C5.31207 29.3516 4.82008 29.4197 4.52774 29.8862C4.24965 30.3527 4.3067 31.0233 4.64895 31.4024L7.31568 34.3861V37.3504C4.82721 36.709 2.98759 33.8418 2.98759 30.4985C2.98759 26.7178 5.27642 23.6368 8.08575 23.6368C10.8951 23.6368 13.1839 26.7178 13.1839 30.4985C13.1839 33.871 11.3229 36.7576 8.89147 37.263V29.8667C8.89147 29.2739 8.5207 28.7782 8.08575 28.7782V28.7976ZM36.4714 42.0059H43.3165V57.226H34.2967V50.4518C34.2967 47.5749 32.5569 45.2326 30.425 45.2326C28.293 45.2326 26.5532 47.5749 26.5532 50.4518V57.226H17.6261V42.0059H24.4712C24.9703 42.0059 25.391 41.4324 25.391 40.7618V30.0222L30.4749 23.1703L35.5588 30.0222V40.7618C35.5588 41.4324 35.9795 42.0059 36.4786 42.0059H36.4714ZM32.507 57.226H28.3429V50.4518C28.3429 48.8773 29.2556 47.6527 30.425 47.6527C31.5943 47.6527 32.507 48.887 32.507 50.4518V57.226ZM54.9175 13.1208C54.6252 12.5182 54.0334 12.421 53.6697 12.8195L52.3435 14.0246V8.81521C52.3435 8.11543 51.9014 7.51285 51.388 7.51285C50.8746 7.51285 50.4326 8.11543 50.4326 8.81521V11.5171L49.1063 10.3119C48.6642 9.91346 48.0796 10.1078 47.8585 10.6132C47.5662 11.2158 47.7088 12.0128 48.0796 12.3141L50.4326 14.4134V22.4219C46.9031 21.8193 44.1151 17.611 44.1151 12.5085C44.1151 6.99774 47.4236 2.48809 51.4664 2.48809C55.5093 2.48809 58.8178 6.99774 58.8178 12.5085C58.8178 17.6207 56.0227 21.8193 52.3506 22.4219V16.9112L54.7036 14.8119C55.1457 14.4134 55.217 13.6067 54.9246 13.111L54.9175 13.1208Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_27_1886'%3E%3Crect width='60.8' height='60.2' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.work .list ul li.ico03 a:hover span::before {
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='66' viewBox='0 0 80 66' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_27_1934)'%3E%3Cpath d='M79.97 15.28C79.97 6.85 73.05 0 64.52 0C55.99 0 49.07 6.84 49.07 15.28C49.07 23.25 55.33 29.9 63.29 30.46V62.52H43.08V59.68H48.31C49.11 59.68 49.79 59 49.79 58.2V49.68C49.79 48.88 49.11 48.2 48.31 48.2H43.08V43.88H47.51C48.31 43.88 48.99 43.2 48.99 42.4C48.99 41.6 48.31 40.92 47.51 40.92H43.08V35.24H47.51C48.31 35.24 48.99 34.56 48.99 33.76C48.99 32.96 48.31 32.28 47.51 32.28H43.08V28.42C43.08 27.62 42.4 26.94 41.6 26.94C40.8 26.94 40.12 27.62 40.12 28.42V32.74H16.59V28.42C16.59 27.62 15.91 26.94 15.11 26.94C14.31 26.94 13.75 27.62 13.75 28.42V32.74H9.32C8.52 32.74 7.84 33.42 7.84 34.22C7.84 35.02 8.52 35.7 9.32 35.7H13.75V41.38H9.32C8.52 41.38 7.84 42.06 7.84 42.86C7.84 43.66 8.52 44.34 9.32 44.34H13.75V48.66H8.52C7.72 48.66 7.04 49.34 7.04 50.14V58.66C7.04 59.45 7.72 60.14 8.52 60.14H13.75V62.53H1.48C0.68 62.53 0 63.21 0 64.01C0 64.81 0.68 65.49 1.48 65.49H74.33C75.13 65.49 75.81 64.81 75.81 64.01C75.7 63.22 75.01 62.53 74.33 62.53H65.76V30.46C73.72 29.9 79.98 23.24 79.98 15.28H79.97ZM16.59 35.58H40.23V41.26H16.59V35.58ZM16.59 44.11H40.23V48.43H16.59V44.11ZM10 56.83V51.15H46.94V56.83H10ZM40.23 62.52H16.59V59.68H40.23V62.52ZM51.53 15.28C51.53 8.16 57.41 2.35 64.61 2.35C71.81 2.35 77.69 8.16 77.69 15.28C77.69 22.03 72.48 27.56 65.84 28.12V14.16C65.84 13.5 65.27 12.94 64.61 12.94C63.95 12.94 63.38 13.5 63.38 14.16V18.66L58.26 14.44C57.79 14.06 57.03 14.06 56.55 14.63C56.17 15.1 56.17 15.85 56.74 16.32L63.47 21.85V28.32C56.74 27.48 51.52 21.95 51.52 15.29L51.53 15.28Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_27_1934'%3E%3Crect width='79.97' height='65.47' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.work .list ul li.ico04 a:hover span::before {
    background-image: url("data:image/svg+xml,%3Csvg width='61' height='61' viewBox='0 0 61 61' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_27_1922)'%3E%3Cpath d='M59.28 57.77H51.72V48.9H59.28C60.29 48.9 60.89 47.79 60.39 46.98L56.06 40.12H58.08C59.09 40.12 59.69 39.01 59.19 38.2L55.36 31.34H55.66C56.57 31.34 57.17 30.33 56.77 29.52L53.75 22.56H55.67C56.58 22.56 57.18 21.55 56.78 20.74L47.99 0.71C47.79 0.21 47.39 0 46.88 0C46.37 0 45.97 0.3 45.77 0.71L36.9 20.88C36.4 21.59 37 22.49 37.91 22.49H39.83L36.7 29.55C36.3 30.36 36.9 31.37 37.81 31.37H38.11L34.18 38.33C33.68 39.14 34.28 40.25 35.29 40.25H37.31L32.97 47.11C32.47 47.92 33.07 49.03 34.08 49.03H41.64V57.8H19.06V48.93H26.62C27.63 48.93 28.23 47.82 27.73 47.01L23.39 40.15H25.41C26.42 40.15 27.02 39.04 26.52 38.23L22.69 31.37H22.99C23.9 31.37 24.5 30.36 24.1 29.55L21.08 22.59H23C23.91 22.59 24.51 21.58 24.11 20.77L15.33 0.71C15.13 0.21 14.72 0 14.22 0C13.72 0 13.31 0.3 13.11 0.71L4.23 20.87C3.63 21.58 4.23 22.48 5.14 22.48H7.06L3.94 29.54C3.54 30.35 4.14 31.36 5.05 31.36H5.35L1.42 38.32C0.92 39.13 1.52 40.24 2.53 40.24H4.55L0.2 47.08C-0.3 47.89 0.3 49 1.31 49H8.87V57.77H1.31C0.6 57.77 0 58.37 0 59.08C0 59.79 0.61 60.39 1.31 60.39H59.28C59.99 60.39 60.59 59.79 60.59 59.08C60.59 58.37 59.99 57.77 59.28 57.77ZM3.73 46.38L7.96 39.52C8.46 38.71 7.86 37.61 6.85 37.61H4.73L8.66 30.65C9.16 29.84 8.56 28.73 7.55 28.73H7.05L10.18 21.67C10.58 20.86 9.98 19.86 9.07 19.86H7.15L14.01 4.13L20.87 19.86H18.95C18.04 19.86 17.44 20.77 17.84 21.67L20.97 28.73H20.47C19.46 28.73 18.86 29.74 19.36 30.65L23.29 37.61H21.17C20.16 37.61 19.56 38.72 20.06 39.52L24.4 46.38H3.73ZM16.54 57.77H11.5V48.9H16.54V57.77ZM36.5 46.38L40.73 39.52C41.23 38.71 40.63 37.61 39.62 37.61H37.5L41.43 30.65C41.93 29.84 41.33 28.73 40.32 28.73H39.82L42.94 21.67C43.34 20.86 42.74 19.86 41.83 19.86H39.91L46.77 4.13L53.63 19.86H51.71C50.8 19.86 50.2 20.77 50.6 21.67L53.73 28.73H53.23C52.22 28.73 51.62 29.74 52.12 30.65L56.05 37.61H53.93C52.92 37.61 52.32 38.72 52.82 39.52L57.15 46.38H36.48H36.5ZM49.2 57.77H44.16V48.9H49.2V57.77Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_27_1922'%3E%3Crect width='60.59' height='60.39' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.work .list ul li.ico05 a:hover span::before {
    background-image: url("data:image/svg+xml,%3Csvg width='61' height='61' viewBox='0 0 61 61' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_27_1951)'%3E%3Cpath d='M59.48 57.5H48.05V46.3H59.48C60.29 46.3 60.9 45.5 60.69 44.7C53.1 18.5 55.43 26.6 48.04 0.9C47.84 0.4 47.43 0 46.83 0C46.23 0 45.82 0.4 45.62 0.9C31.15 50.7 35.1 37.3 32.87 44.7C32.67 45.5 33.27 46.3 34.08 46.3H45.51V57.5H15.17V46.3H26.6C27.41 46.3 28.02 45.5 27.81 44.7C24.18 32 19.02 14.1 15.17 0.9C14.97 0.4 14.56 0 13.96 0C13.36 0 12.95 0.4 12.75 0.9C12.04 3.2 0.71 42.4 0.1 44.7C-0.1 45.5 0.5 46.3 1.31 46.3H12.64V57.5H1.31C0.6 57.5 0 58.1 0 58.8C0 59.5 0.61 60.1 1.31 60.1H59.48C60.19 60.1 60.8 59.5 60.8 58.8C60.7 58.1 60.09 57.5 59.48 57.5ZM39.45 31.3H54.12L55.94 37.6H37.63L39.45 31.3ZM41.98 22.5H51.59L53.41 28.8H40.16L41.98 22.5ZM44.51 13.8H49.06L50.88 20.1H42.69L44.51 13.8ZM46.84 5.8L48.46 11.2H45.32L46.84 5.8ZM36.92 40H56.65L57.76 43.8H35.81L36.92 40ZM6.58 31.3H21.25L23.07 37.6H4.75L6.57 31.3H6.58ZM9.1 22.5H18.71L20.53 28.8H7.28L9.1 22.5ZM11.63 13.8H16.18L18 20.1H9.81L11.63 13.8ZM13.96 5.8L15.58 11.2H12.44L13.96 5.8ZM4.05 40H23.78L24.89 43.8H2.93L4.04 40H4.05Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_27_1951'%3E%3Crect width='60.8' height='60.1' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.work .list ul li.ico06 a:hover span::before {
    background-image: url("data:image/svg+xml,%3Csvg width='61' height='61' viewBox='0 0 61 61' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_27_1949)'%3E%3Cpath d='M60.9 23.9V8.9C60.9 4.1 56.95 0.1 52 0.1C47.05 0.1 43.1 4 43.1 8.9V23.9C43.1 28.3 46.44 32 50.69 32.6V57.6H31.87V32.5C36.12 31.9 39.46 28.2 39.46 23.8V8.8C39.46 4 35.51 0 30.56 0C25.61 0 21.66 3.9 21.66 8.8V23.8C21.66 28.2 25 31.9 29.25 32.5V57.6H10.32V32.5C14.57 31.9 17.91 28.2 17.91 23.8V8.8C17.9 4 13.96 0 9 0C4.04 0 0.1 3.9 0.1 8.8V23.8C0.1 28.2 3.44 31.9 7.69 32.5V57.6H1.31C0.6 57.6 0 58.2 0 58.9C0 59.6 0.61 60.2 1.31 60.2H59.48C60.19 60.2 60.79 59.6 60.79 58.9C60.79 58.2 60.18 57.6 59.48 57.6H53.31V32.5C57.56 31.9 60.9 28.3 60.9 23.9ZM24.28 23.9V8.9C24.28 5.5 27.11 2.6 30.65 2.6C34.19 2.6 37.02 5.4 37.02 8.9V23.9C37.02 26.9 34.79 29.4 31.96 30V20.8L35.2 18.7C35.81 18.3 35.91 17.5 35.5 17C35.1 16.4 34.29 16.3 33.78 16.7L31.96 17.9V15.2C31.96 14.5 31.35 13.9 30.65 13.9C29.95 13.9 29.34 14.5 29.34 15.2V24.1L27.52 22.9C26.91 22.5 26.1 22.7 25.8 23.2C25.4 23.8 25.6 24.6 26.1 24.9L29.34 27V30C26.41 29.4 24.28 26.9 24.28 23.9ZM2.73 23.9V8.9C2.73 5.5 5.56 2.6 9.1 2.6C12.64 2.6 15.47 5.4 15.47 8.9V23.9C15.47 26.9 13.24 29.4 10.41 30V20.8L13.65 18.7C14.26 18.3 14.36 17.5 13.95 17C13.55 16.4 12.74 16.3 12.23 16.7L10.41 17.9V15.2C10.41 14.5 9.8 13.9 9.09 13.9C8.38 13.9 7.78 14.4 7.78 15.1V24L5.96 22.8C5.35 22.4 4.54 22.6 4.24 23.1C3.84 23.7 4.04 24.5 4.54 24.8L7.78 26.9V29.9C4.95 29.4 2.72 26.9 2.72 23.9H2.73ZM45.72 23.9V8.9C45.72 5.5 48.55 2.6 52.09 2.6C55.63 2.6 58.46 5.4 58.46 8.9V23.9C58.46 26.9 56.23 29.4 53.4 30V20.8L56.64 18.7C57.25 18.3 57.35 17.5 56.94 17C56.54 16.4 55.73 16.3 55.22 16.7L53.3 17.8V15.1C53.3 14.4 52.69 13.8 51.98 13.8C51.27 13.8 50.67 14.4 50.67 15.1V24L48.85 22.8C48.24 22.4 47.43 22.6 47.13 23.1C46.83 23.6 46.93 24.5 47.43 24.8L50.67 26.9V29.9C47.94 29.4 45.71 26.9 45.71 23.9H45.72Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_27_1949'%3E%3Crect width='60.9' height='60.2' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.work .list ul li.ico01 a span::before {
    background-size: 60.8px;
    background-image: url("data:image/svg+xml,%3Csvg width='61' height='61' viewBox='0 0 61 61' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_27_1484)'%3E%3Cpath d='M59.4802 57.6H56.9502V44.9C59.1802 44.3 60.7902 42.4 60.7902 40.1C60.7902 37.3 58.5602 35.1 55.7302 35.1C52.9002 35.1 50.6702 37.3 50.6702 40.1C50.6702 42.4 52.2902 44.4 54.5102 44.9V57.6H48.0402V12.6H51.8802C52.5902 12.6 53.2002 12 53.2002 11.3V1.3C53.2002 0.6 52.5902 0 51.8802 0H8.90023C8.19023 0 7.58023 0.6 7.58023 1.3V11.3C7.58023 12 8.19023 12.6 8.90023 12.6H12.6402V57.6H6.27023V44.9C8.50023 44.3 10.1102 42.4 10.1102 40.1C10.1102 37.3 7.88023 35.1 5.05023 35.1C2.22023 35.1 -0.00976562 37.3 -0.00976562 40.1C-0.00976562 42.4 1.61023 44.4 3.83023 44.9V57.6H1.32023C0.610234 57.6 0.000234375 58.2 0.000234375 58.9C0.000234375 59.6 0.610234 60.2 1.32023 60.2H59.4902C60.2002 60.2 60.8102 59.6 60.8102 58.9C60.7102 58.2 60.1002 57.6 59.4902 57.6H59.4802ZM53.1102 40.1C53.1102 38.7 54.2202 37.6 55.6402 37.6C57.0602 37.6 58.1702 38.7 58.1702 40.1C58.1702 41.5 57.0602 42.6 55.6402 42.6C54.2202 42.6 53.1102 41.5 53.1102 40.1ZM2.53023 40.1C2.53023 38.7 3.64023 37.6 5.06023 37.6C6.48023 37.6 7.59023 38.7 7.59023 40.1C7.59023 41.5 6.48023 42.6 5.06023 42.6C3.64023 42.6 2.53023 41.5 2.53023 40.1ZM10.1202 2.6H50.5802V10.1H10.1202V2.6ZM15.1702 57.6V12.6H45.5202V57.6H15.1702Z' fill='%23051D2D'/%3E%3Cpath d='M25.2902 18.9004H20.2302C19.5202 18.9004 18.9102 19.5004 18.9102 20.2004V25.2004C18.9102 25.9004 19.5202 26.5004 20.2302 26.5004H25.2902C26.0002 26.5004 26.6102 25.9004 26.6102 25.2004V20.2004C26.6102 19.4004 26.0002 18.9004 25.2902 18.9004ZM24.0802 23.9004H21.5502V21.4004H24.0802V23.9004Z' fill='%23051D2D'/%3E%3Cpath d='M40.4601 18.9004H35.4001C34.6901 18.9004 34.0801 19.5004 34.0801 20.2004V25.2004C34.0801 25.9004 34.6901 26.5004 35.4001 26.5004H40.4601C41.1701 26.5004 41.7801 25.9004 41.7801 25.2004V20.2004C41.7801 19.4004 41.1701 18.9004 40.4601 18.9004ZM39.2501 23.9004H36.7201V21.4004H39.2501V23.9004Z' fill='%23051D2D'/%3E%3Cpath d='M25.2902 30.0996H20.2302C19.5202 30.0996 18.9102 30.6996 18.9102 31.3996V36.3996C18.9102 37.0996 19.5202 37.6996 20.2302 37.6996H25.2902C26.0002 37.6996 26.6102 37.0996 26.6102 36.3996V31.3996C26.6102 30.6996 26.0002 30.0996 25.2902 30.0996ZM24.0802 35.0996H21.5502V32.5996H24.0802V35.0996Z' fill='%23051D2D'/%3E%3Cpath d='M40.4601 30.0996H35.4001C34.6901 30.0996 34.0801 30.6996 34.0801 31.3996V36.3996C34.0801 37.0996 34.6901 37.6996 35.4001 37.6996H40.4601C41.1701 37.6996 41.7801 37.0996 41.7801 36.3996V31.3996C41.7801 30.6996 41.1701 30.0996 40.4601 30.0996ZM39.2501 35.0996H36.7201V32.5996H39.2501V35.0996Z' fill='%23051D2D'/%3E%3Cpath d='M25.2902 41.4004H20.2302C19.5202 41.4004 18.9102 42.0004 18.9102 42.7004V47.7004C18.9102 48.4004 19.5202 49.0004 20.2302 49.0004H25.2902C26.0002 49.0004 26.6102 48.4004 26.6102 47.7004V42.7004C26.6102 41.9004 26.0002 41.4004 25.2902 41.4004ZM24.0802 46.4004H21.5502V43.9004H24.0802V46.4004Z' fill='%23051D2D'/%3E%3Cpath d='M40.4601 41.4004H35.4001C34.6901 41.4004 34.0801 42.0004 34.0801 42.7004V47.7004C34.0801 48.4004 34.6901 49.0004 35.4001 49.0004H40.4601C41.1701 49.0004 41.7801 48.4004 41.7801 47.7004V42.7004C41.7801 41.9004 41.1701 41.4004 40.4601 41.4004ZM39.2501 46.4004H36.7201V43.9004H39.2501V46.4004Z' fill='%23051D2D'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_27_1484'%3E%3Crect width='60.8' height='60.2' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.work .list ul li.ico02 a span::before {
    background-size: 60.8px;
    background-image: url("data:image/svg+xml,%3Csvg width='61' height='61' viewBox='0 0 61 61' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_27_1478)'%3E%3Cpath d='M59.7732 57.5953H52.4219V24.9392C57.0495 24.3366 60.7287 18.9328 60.7287 12.5182C60.7287 5.60791 56.6145 0 51.5449 0C46.4752 0 42.3611 5.60791 42.3611 12.5182C42.3611 19.03 45.9619 24.3366 50.6679 24.9392V57.5953H45.0207V40.8299C45.0207 40.169 44.6142 39.5858 44.1508 39.5858H37.3057V29.5946C37.3057 29.2642 37.213 28.9726 37.0276 28.7296L31.0738 20.7114C30.7244 20.2351 30.1469 20.2351 29.7975 20.7114L23.8437 28.7296C23.7082 28.9143 23.5656 29.2739 23.5656 29.5946V39.6441H16.7205C16.2214 39.6441 15.8007 40.2176 15.8007 40.8882V57.5953H8.86295V39.4303C12.1714 38.9249 14.7312 35.0762 14.7312 30.5179C14.7312 25.5612 11.7365 21.518 8.05723 21.518C4.378 21.518 1.36902 25.5612 1.36902 30.5179C1.36902 35.0762 3.92166 38.9152 7.23725 39.4303V57.5953H0.955459C0.442078 57.5953 0 58.1979 0 58.8976C0 59.5974 0.442078 60.2 0.955459 60.2H59.8445C60.3579 60.2 60.8 59.5974 60.8 58.8976C60.6503 58.1979 60.2153 57.5953 59.7732 57.5953ZM8.08575 28.7976C7.6508 28.7976 7.28003 29.303 7.28003 29.8862V31.5481L5.65432 29.721C5.31207 29.3516 4.82008 29.4197 4.52774 29.8862C4.24965 30.3527 4.3067 31.0233 4.64895 31.4024L7.31568 34.3861V37.3504C4.82721 36.709 2.98759 33.8418 2.98759 30.4985C2.98759 26.7178 5.27642 23.6368 8.08575 23.6368C10.8951 23.6368 13.1839 26.7178 13.1839 30.4985C13.1839 33.871 11.3229 36.7576 8.89147 37.263V29.8667C8.89147 29.2739 8.5207 28.7782 8.08575 28.7782V28.7976ZM36.4714 42.0059H43.3165V57.226H34.2967V50.4518C34.2967 47.5749 32.5569 45.2326 30.425 45.2326C28.293 45.2326 26.5532 47.5749 26.5532 50.4518V57.226H17.6261V42.0059H24.4712C24.9703 42.0059 25.391 41.4324 25.391 40.7618V30.0222L30.4749 23.1703L35.5588 30.0222V40.7618C35.5588 41.4324 35.9795 42.0059 36.4786 42.0059H36.4714ZM32.507 57.226H28.3429V50.4518C28.3429 48.8773 29.2556 47.6527 30.425 47.6527C31.5943 47.6527 32.507 48.887 32.507 50.4518V57.226ZM54.9175 13.1208C54.6252 12.5182 54.0334 12.421 53.6697 12.8195L52.3435 14.0246V8.81521C52.3435 8.11543 51.9014 7.51285 51.388 7.51285C50.8746 7.51285 50.4326 8.11543 50.4326 8.81521V11.5171L49.1063 10.3119C48.6642 9.91346 48.0796 10.1078 47.8585 10.6132C47.5662 11.2158 47.7088 12.0128 48.0796 12.3141L50.4326 14.4134V22.4219C46.9031 21.8193 44.1151 17.611 44.1151 12.5085C44.1151 6.99774 47.4236 2.48809 51.4664 2.48809C55.5093 2.48809 58.8178 6.99774 58.8178 12.5085C58.8178 17.6207 56.0227 21.8193 52.3506 22.4219V16.9112L54.7036 14.8119C55.1457 14.4134 55.217 13.6067 54.9246 13.111L54.9175 13.1208Z' fill='%23051D2D'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_27_1478'%3E%3Crect width='60.8' height='60.2' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.work .list ul li.ico03 a span::before {
    background-size: 60.8px;
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='66' viewBox='0 0 80 66' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_27_1526)'%3E%3Cpath d='M79.97 15.28C79.97 6.85 73.05 0 64.52 0C55.99 0 49.07 6.84 49.07 15.28C49.07 23.25 55.33 29.9 63.29 30.46V62.52H43.08V59.68H48.31C49.11 59.68 49.79 59 49.79 58.2V49.68C49.79 48.88 49.11 48.2 48.31 48.2H43.08V43.88H47.51C48.31 43.88 48.99 43.2 48.99 42.4C48.99 41.6 48.31 40.92 47.51 40.92H43.08V35.24H47.51C48.31 35.24 48.99 34.56 48.99 33.76C48.99 32.96 48.31 32.28 47.51 32.28H43.08V28.42C43.08 27.62 42.4 26.94 41.6 26.94C40.8 26.94 40.12 27.62 40.12 28.42V32.74H16.59V28.42C16.59 27.62 15.91 26.94 15.11 26.94C14.31 26.94 13.75 27.62 13.75 28.42V32.74H9.32C8.52 32.74 7.84 33.42 7.84 34.22C7.84 35.02 8.52 35.7 9.32 35.7H13.75V41.38H9.32C8.52 41.38 7.84 42.06 7.84 42.86C7.84 43.66 8.52 44.34 9.32 44.34H13.75V48.66H8.52C7.72 48.66 7.04 49.34 7.04 50.14V58.66C7.04 59.45 7.72 60.14 8.52 60.14H13.75V62.53H1.48C0.68 62.53 0 63.21 0 64.01C0 64.81 0.68 65.49 1.48 65.49H74.33C75.13 65.49 75.81 64.81 75.81 64.01C75.7 63.22 75.01 62.53 74.33 62.53H65.76V30.46C73.72 29.9 79.98 23.24 79.98 15.28H79.97ZM16.59 35.58H40.23V41.26H16.59V35.58ZM16.59 44.11H40.23V48.43H16.59V44.11ZM10 56.83V51.15H46.94V56.83H10ZM40.23 62.52H16.59V59.68H40.23V62.52ZM51.53 15.28C51.53 8.16 57.41 2.35 64.61 2.35C71.81 2.35 77.69 8.16 77.69 15.28C77.69 22.03 72.48 27.56 65.84 28.12V14.16C65.84 13.5 65.27 12.94 64.61 12.94C63.95 12.94 63.38 13.5 63.38 14.16V18.66L58.26 14.44C57.79 14.06 57.03 14.06 56.55 14.63C56.17 15.1 56.17 15.85 56.74 16.32L63.47 21.85V28.32C56.74 27.48 51.52 21.95 51.52 15.29L51.53 15.28Z' fill='%23051D2D'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_27_1526'%3E%3Crect width='79.97' height='65.47' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.work .list ul li.ico04 a span::before {
    background-size: 60.8px;
    background-image: url("data:image/svg+xml,%3Csvg width='61' height='61' viewBox='0 0 61 61' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_27_1514)'%3E%3Cpath d='M59.28 57.77H51.72V48.9H59.28C60.29 48.9 60.89 47.79 60.39 46.98L56.06 40.12H58.08C59.09 40.12 59.69 39.01 59.19 38.2L55.36 31.34H55.66C56.57 31.34 57.17 30.33 56.77 29.52L53.75 22.56H55.67C56.58 22.56 57.18 21.55 56.78 20.74L47.99 0.71C47.79 0.21 47.39 0 46.88 0C46.37 0 45.97 0.3 45.77 0.71L36.9 20.88C36.4 21.59 37 22.49 37.91 22.49H39.83L36.7 29.55C36.3 30.36 36.9 31.37 37.81 31.37H38.11L34.18 38.33C33.68 39.14 34.28 40.25 35.29 40.25H37.31L32.97 47.11C32.47 47.92 33.07 49.03 34.08 49.03H41.64V57.8H19.06V48.93H26.62C27.63 48.93 28.23 47.82 27.73 47.01L23.39 40.15H25.41C26.42 40.15 27.02 39.04 26.52 38.23L22.69 31.37H22.99C23.9 31.37 24.5 30.36 24.1 29.55L21.08 22.59H23C23.91 22.59 24.51 21.58 24.11 20.77L15.33 0.71C15.13 0.21 14.72 0 14.22 0C13.72 0 13.31 0.3 13.11 0.71L4.23 20.87C3.63 21.58 4.23 22.48 5.14 22.48H7.06L3.94 29.54C3.54 30.35 4.14 31.36 5.05 31.36H5.35L1.42 38.32C0.92 39.13 1.52 40.24 2.53 40.24H4.55L0.2 47.08C-0.3 47.89 0.3 49 1.31 49H8.87V57.77H1.31C0.6 57.77 0 58.37 0 59.08C0 59.79 0.61 60.39 1.31 60.39H59.28C59.99 60.39 60.59 59.79 60.59 59.08C60.59 58.37 59.99 57.77 59.28 57.77ZM3.73 46.38L7.96 39.52C8.46 38.71 7.86 37.61 6.85 37.61H4.73L8.66 30.65C9.16 29.84 8.56 28.73 7.55 28.73H7.05L10.18 21.67C10.58 20.86 9.98 19.86 9.07 19.86H7.15L14.01 4.13L20.87 19.86H18.95C18.04 19.86 17.44 20.77 17.84 21.67L20.97 28.73H20.47C19.46 28.73 18.86 29.74 19.36 30.65L23.29 37.61H21.17C20.16 37.61 19.56 38.72 20.06 39.52L24.4 46.38H3.73ZM16.54 57.77H11.5V48.9H16.54V57.77ZM36.5 46.38L40.73 39.52C41.23 38.71 40.63 37.61 39.62 37.61H37.5L41.43 30.65C41.93 29.84 41.33 28.73 40.32 28.73H39.82L42.94 21.67C43.34 20.86 42.74 19.86 41.83 19.86H39.91L46.77 4.13L53.63 19.86H51.71C50.8 19.86 50.2 20.77 50.6 21.67L53.73 28.73H53.23C52.22 28.73 51.62 29.74 52.12 30.65L56.05 37.61H53.93C52.92 37.61 52.32 38.72 52.82 39.52L57.15 46.38H36.48H36.5ZM49.2 57.77H44.16V48.9H49.2V57.77Z' fill='%23051D2D'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_27_1514'%3E%3Crect width='60.59' height='60.39' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.work .list ul li.ico05 a span::before {
    background-size: 60.8px;
    background-image: url("data:image/svg+xml,%3Csvg width='61' height='61' viewBox='0 0 61 61' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_27_1543)'%3E%3Cpath d='M59.48 57.5H48.05V46.3H59.48C60.29 46.3 60.9 45.5 60.69 44.7C53.1 18.5 55.43 26.6 48.04 0.9C47.84 0.4 47.43 0 46.83 0C46.23 0 45.82 0.4 45.62 0.9C31.15 50.7 35.1 37.3 32.87 44.7C32.67 45.5 33.27 46.3 34.08 46.3H45.51V57.5H15.17V46.3H26.6C27.41 46.3 28.02 45.5 27.81 44.7C24.18 32 19.02 14.1 15.17 0.9C14.97 0.4 14.56 0 13.96 0C13.36 0 12.95 0.4 12.75 0.9C12.04 3.2 0.71 42.4 0.1 44.7C-0.1 45.5 0.5 46.3 1.31 46.3H12.64V57.5H1.31C0.6 57.5 0 58.1 0 58.8C0 59.5 0.61 60.1 1.31 60.1H59.48C60.19 60.1 60.8 59.5 60.8 58.8C60.7 58.1 60.09 57.5 59.48 57.5ZM39.45 31.3H54.12L55.94 37.6H37.63L39.45 31.3ZM41.98 22.5H51.59L53.41 28.8H40.16L41.98 22.5ZM44.51 13.8H49.06L50.88 20.1H42.69L44.51 13.8ZM46.84 5.8L48.46 11.2H45.32L46.84 5.8ZM36.92 40H56.65L57.76 43.8H35.81L36.92 40ZM6.58 31.3H21.25L23.07 37.6H4.75L6.57 31.3H6.58ZM9.1 22.5H18.71L20.53 28.8H7.28L9.1 22.5ZM11.63 13.8H16.18L18 20.1H9.81L11.63 13.8ZM13.96 5.8L15.58 11.2H12.44L13.96 5.8ZM4.05 40H23.78L24.89 43.8H2.93L4.04 40H4.05Z' fill='%23051D2D'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_27_1543'%3E%3Crect width='60.8' height='60.1' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.work .list ul li.ico06 a span::before {
    background-size: 60.8px;
    background-image: url("data:image/svg+xml,%3Csvg width='61' height='61' viewBox='0 0 61 61' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_27_1541)'%3E%3Cpath d='M60.9 23.9V8.9C60.9 4.1 56.95 0.1 52 0.1C47.05 0.1 43.1 4 43.1 8.9V23.9C43.1 28.3 46.44 32 50.69 32.6V57.6H31.87V32.5C36.12 31.9 39.46 28.2 39.46 23.8V8.8C39.46 4 35.51 0 30.56 0C25.61 0 21.66 3.9 21.66 8.8V23.8C21.66 28.2 25 31.9 29.25 32.5V57.6H10.32V32.5C14.57 31.9 17.91 28.2 17.91 23.8V8.8C17.9 4 13.96 0 9 0C4.04 0 0.1 3.9 0.1 8.8V23.8C0.1 28.2 3.44 31.9 7.69 32.5V57.6H1.31C0.6 57.6 0 58.2 0 58.9C0 59.6 0.61 60.2 1.31 60.2H59.48C60.19 60.2 60.79 59.6 60.79 58.9C60.79 58.2 60.18 57.6 59.48 57.6H53.31V32.5C57.56 31.9 60.9 28.3 60.9 23.9ZM24.28 23.9V8.9C24.28 5.5 27.11 2.6 30.65 2.6C34.19 2.6 37.02 5.4 37.02 8.9V23.9C37.02 26.9 34.79 29.4 31.96 30V20.8L35.2 18.7C35.81 18.3 35.91 17.5 35.5 17C35.1 16.4 34.29 16.3 33.78 16.7L31.96 17.9V15.2C31.96 14.5 31.35 13.9 30.65 13.9C29.95 13.9 29.34 14.5 29.34 15.2V24.1L27.52 22.9C26.91 22.5 26.1 22.7 25.8 23.2C25.4 23.8 25.6 24.6 26.1 24.9L29.34 27V30C26.41 29.4 24.28 26.9 24.28 23.9ZM2.73 23.9V8.9C2.73 5.5 5.56 2.6 9.1 2.6C12.64 2.6 15.47 5.4 15.47 8.9V23.9C15.47 26.9 13.24 29.4 10.41 30V20.8L13.65 18.7C14.26 18.3 14.36 17.5 13.95 17C13.55 16.4 12.74 16.3 12.23 16.7L10.41 17.9V15.2C10.41 14.5 9.8 13.9 9.09 13.9C8.38 13.9 7.78 14.4 7.78 15.1V24L5.96 22.8C5.35 22.4 4.54 22.6 4.24 23.1C3.84 23.7 4.04 24.5 4.54 24.8L7.78 26.9V29.9C4.95 29.4 2.72 26.9 2.72 23.9H2.73ZM45.72 23.9V8.9C45.72 5.5 48.55 2.6 52.09 2.6C55.63 2.6 58.46 5.4 58.46 8.9V23.9C58.46 26.9 56.23 29.4 53.4 30V20.8L56.64 18.7C57.25 18.3 57.35 17.5 56.94 17C56.54 16.4 55.73 16.3 55.22 16.7L53.3 17.8V15.1C53.3 14.4 52.69 13.8 51.98 13.8C51.27 13.8 50.67 14.4 50.67 15.1V24L48.85 22.8C48.24 22.4 47.43 22.6 47.13 23.1C46.83 23.6 46.93 24.5 47.43 24.8L50.67 26.9V29.9C47.94 29.4 45.71 26.9 45.71 23.9H45.72Z' fill='%23051D2D'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_27_1541'%3E%3Crect width='60.9' height='60.2' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.work .list ul li a span::after {
    content: "";
    position: absolute;
    right: 35px;
    top: 0;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color: var(--color-main);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 11.68px;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.13125 6.441H0.75C0.5375 6.441 0.359375 6.36912 0.215625 6.22538C0.071875 6.08162 0 5.9035 0 5.691C0 5.4785 0.071875 5.30037 0.215625 5.15662C0.359375 5.01287 0.5375 4.941 0.75 4.941H9.13125L5.45625 1.266C5.30625 1.116 5.23438 0.941 5.24063 0.741C5.24688 0.541 5.325 0.366 5.475 0.216C5.625 0.0785 5.8 0.006625 6 0.000375C6.2 -0.005875 6.375 0.066 6.525 0.216L11.475 5.166C11.55 5.241 11.6031 5.32225 11.6344 5.40975C11.6656 5.49725 11.6812 5.591 11.6812 5.691C11.6812 5.791 11.6656 5.88475 11.6344 5.97225C11.6031 6.05975 11.55 6.141 11.475 6.216L6.525 11.166C6.3875 11.3035 6.21562 11.3723 6.00937 11.3723C5.80312 11.3723 5.625 11.3035 5.475 11.166C5.325 11.016 5.25 10.8379 5.25 10.6316C5.25 10.4254 5.325 10.2473 5.475 10.0972L9.13125 6.441Z' fill='white'/%3E%3C/svg%3E%0A");
}

@media screen and (max-width:1320px){
    .work .tit h2 {
        font-size: 32px;
    }
}/*@media끝*/
@media screen and (max-width:1024px){
    .work .wrapper {
        display: block;/*tit,list 좌우*/
        padding-top: 109px;
        padding-bottom: 90px;
    }
    .work .tit h2 {
        font-size: 28px;
        margin: 12px 0 51px 0 ;
    }
    .work .tit p {
        display: none;
    }
    .work .list {
        width: auto;
        max-width: 100%;
    }
    .work .list ul {
        gap: 16px 16px;
    }
    .work .list ul li {
        width: calc(33.33% - 10.66px);/*16 / 2 = 8
                    (100/한줄에 나타날 li의갯수)-(한줄의여백의합/한줄에 나타날 li의갯수)
                    100/3 - (16+16)/3
                    33.33 - 32/3
                    33.33 - 10.66px*/
    }
    /*:nth-child(odd) - 홀수, :nth-child(even) - 짝수 */
    .work .list ul li:nth-child(odd) {
        transform: translateY(0);
    }
    /* .work .list ul li:nth-child(even) {
        transform: translateY(-15px);
    } */
    .work .list ul li a {
        height: 150px;
        padding: 81px 0 0 0;
        font-size: 22px;
        text-align: center; 
    }
    .work .list ul li a span {
       display: inline-block;
       padding-right: 31px;
    }
    .work .list ul li a span::before {
        top: -53px;
        width: 100%;
        height: 50px;
        background-position: center bottom;
    }
    .work .list ul li a span::after {
        right: 50px;
        transform: translateX(50%);
        top: auto;
        bottom: -30px;
        width: 24px;
        height: 24px;
        background-size: 10.32px;
    }
}/*@media끝*/
.news .wrapper {
    position: relative;
}
.news .tit strong {
    font-weight: 800;
    color: var(--color-main);
}
.news .tit h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.3;
    margin: 10px 0 0 0 ;
}
.news .list .swiper {
    padding-top: 82px;/*마우스 오버시 li가 상단으로 이동*/
}
.news .list .swiper-slide {
    width: 250px;
}
.news .list .swiper-slide a {
    display: block;
    border-top: 1px solid var(--color-title);
    position: relative;/*over 정렬의 기준*/
    transition: transform 0.5s;
}
.news .list .swiper-slide:hover a {
    transform: translateY(-20px);
}
.news .list .swiper-slide a .cate {
    display: inline-block;
    padding: 3px 13px;
    background-color: var(--color-main);
    color: #fff;
}
.news .list .swiper-slide a h3 {
    font-size: 24px;
    font-weight: 800;
    line-height: 1.3;
    color: var(--color-title);
    margin: 21px 0 20px 0;
    
    /*2줄 제한*/
    line-height: 1.3;
    height: 2.6em; /*행간 * 줄수 = 단위em*/
    overflow: hidden;
}
.news .list .swiper-slide a .name {
    display: flex;
    gap: 0 36px;
}
.news .list .swiper-slide a .name span {
    position: relative;
}
.news .list .swiper-slide a .name span:first-child::after {
    content: "";
    position: absolute;
    right: -18px;
    top: 7px;
    width: 1px;
    height: 10px;
    background-color: rgba(51, 58, 70, 0.2);
}
.news .list .swiper-slide a .photo {
    margin: 23px 0 0 0;
    overflow: hidden;
    height: 141px;
    position: relative;
}
.news .list .swiper-slide a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* .news .list .swiper-slide a .photo .cate {
    position: absolute;
    left: 0;
    top: 0;
    padding: 3px 16px;
    background-color: var(--color-main);
    color: #fff;
} */
.news .list .swiper-slide a .over {
    display: none;
    position: absolute;
    left: 0;
    top: -1px;
    width: 100%;
    height: calc(100% + 1px);
    background-color: var(--color-main);
    color: #fff;
    padding: 41px 15px 0 15px;
}
.news .list .swiper-slide:hover a .over {
    display: block;
}
.news .list .swiper-slide a .over::after {
    content: "";
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 28px;
    height: 28px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.9167 20.6571L2.5 4.25625V19.1667H0V0H19.1667V2.5H4.25625L20.6571 18.9167L18.9167 20.6571Z' fill='white'/%3E%3C/svg%3E%0A");
}
.news .list .swiper-slide a .over strong {
    display: block;
    font-size: 24px;
    font-weight: 800;
    line-height: 1.3;
    margin: 0 0 17px 0;
}
.news .list .swiper-slide a .over span {
    display: block;
    /*2줄제한*/
    line-height: 1.5;
    height: 3em;
    overflow: hidden;
}
.news .more {
    position: absolute;
    right: 0;
    top: 0;
}
.news .more a {
    display: block;
    color: #fff;
    border-radius: 20px;
    padding: 6px 45px 5px 22px;
    position: relative;
    background-color: var(--color-main);
}
.news .more a::after {
    content: "";
    position: absolute;
    right: 22px;
    top: 11px;
    width: 12px;
    height: 12px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.79167 6.04167H0V4.79167H4.79167V0H6.04167V4.79167H10.8333V6.04167H6.04167V10.8333H4.79167V6.04167Z' fill='white'/%3E%3C/svg%3E%0A");
}

@media screen and (max-width:1320px){
    .news .tit h2 {
        font-size: 32px;
    }
    .news .list .swiper-slide a h3 {
        font-size: 22px;
    }
    .news .list .swiper-slide a .over strong {
        font-size: 22px;
    }
}/*@media끝*/
@media screen and (max-width:1024px){
    .news .tit {
        margin: 108px 0 0 0;
    }
    .news .tit h2 {
        font-size: 28px;
    }
    .news .list .swiper-slide a h3 {
        font-size: 20px;
    }
    .news .list .swiper-slide a .over strong {
        font-size: 20px;
    }
    .news .more {
        top: 35px;
    }
    .news .more a {
        padding: 0;
        width: 32px;
        height: 32px;
        right: 0;
        top: 100px;
    }
    .news .more a span {
        display: none;
    }
    .news .more a::after {
        content: "";
        position: absolute;
        right: 10px;
        top: 10px;
        width: 12px;
        height: 12px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.79167 6.04167H0V4.79167H4.79167V0H6.04167V4.79167H10.8333V6.04167H6.04167V10.8333H4.79167V6.04167Z' fill='white'/%3E%3C/svg%3E%0A");
    }
}/*@media끝*/




aside.quick {
    position: fixed;
    right: 30px;
    top: 60%;
    z-index: 99;
    transform: translateY(-50%);
    font-size: 13px;
    text-align: center;
}
aside.quick .quick_open,
aside.quick .quick_close {
    display: block;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: var(--color-main);
    color: #fff;
    padding-top: 19px; /* 아이콘 들어갈 자리 */
    position: relative;
}
aside.quick .quick_close {
    display: none;
}
aside.quick.open .quick_close {
    display: block;
}
aside.quick.open .quick_open {
    display: none;
}
aside.quick .quick_open::before,
aside.quick .quick_close::before {
    content: "";
    position: absolute;
    left: 0;
    top: 14px;
    width: 100%;
    height: 12px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
aside.quick .quick_open::before {
    background-size: 13.33px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 5' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.833333 5C0.597222 5 0.399306 4.92014 0.239583 4.76042C0.0798611 4.60069 0 4.40278 0 4.16667C0 3.93056 0.0798611 3.73264 0.239583 3.57292C0.399306 3.41319 0.597222 3.33333 0.833333 3.33333H12.5C12.7361 3.33333 12.934 3.41319 13.0938 3.57292C13.2535 3.73264 13.3333 3.93056 13.3333 4.16667C13.3333 4.40278 13.2535 4.60069 13.0938 4.76042C12.934 4.92014 12.7361 5 12.5 5H0.833333ZM0.833333 1.66667C0.597222 1.66667 0.399306 1.58681 0.239583 1.42708C0.0798611 1.26736 0 1.06944 0 0.833333C0 0.597222 0.0798611 0.399306 0.239583 0.239583C0.399306 0.0798611 0.597222 0 0.833333 0H12.5C12.7361 0 12.934 0.0798611 13.0938 0.239583C13.2535 0.399306 13.3333 0.597222 13.3333 0.833333C13.3333 1.06944 13.2535 1.26736 13.0938 1.42708C12.934 1.58681 12.7361 1.66667 12.5 1.66667H0.833333Z' /%3E%3C/svg%3E%0A");
}
aside.quick .quick_close::before {
    background-size: 11px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 11 11' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.47917 6.64583L1.39583 10.7292C1.24306 10.8819 1.04861 10.9583 0.8125 10.9583C0.576389 10.9583 0.381944 10.8819 0.229167 10.7292C0.0763889 10.5764 0 10.3819 0 10.1458C0 9.90972 0.0763889 9.71528 0.229167 9.5625L4.3125 5.47917L0.229167 1.39583C0.0763889 1.24306 0 1.04861 0 0.8125C0 0.576389 0.0763889 0.381944 0.229167 0.229167C0.381944 0.0763889 0.576389 0 0.8125 0C1.04861 0 1.24306 0.0763889 1.39583 0.229167L5.47917 4.3125L9.5625 0.229167C9.71528 0.0763889 9.90972 0 10.1458 0C10.3819 0 10.5764 0.0763889 10.7292 0.229167C10.8819 0.381944 10.9583 0.576389 10.9583 0.8125C10.9583 1.04861 10.8819 1.24306 10.7292 1.39583L6.64583 5.47917L10.7292 9.5625C10.8819 9.71528 10.9583 9.90972 10.9583 10.1458C10.9583 10.3819 10.8819 10.5764 10.7292 10.7292C10.5764 10.8819 10.3819 10.9583 10.1458 10.9583C9.90972 10.9583 9.71528 10.8819 9.5625 10.7292L5.47917 6.64583Z' /%3E%3C/svg%3E%0A");
}
aside.quick .quick_wrap {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 59px;
    display: none;
}
aside.quick .quick_wrap ul {
    background-color: #fff;
    border: 1px solid var(--color-main);
    border-radius: 30px;
    color: var(--color-main);
    padding: 14px 0 7px 0;
}
aside.quick .quick_wrap ul li a,
aside.quick .quick_wrap ul li button {
    display: block;
    width: 100%;
    height: 50px;
    padding-top: 23px;
    position: relative;
}
aside.quick .quick_wrap ul li button {
    padding-top: 8px;
}
aside.quick .quick_wrap ul li a::before,
aside.quick .quick_wrap ul li button::before {
    content: "";
    position: absolute;
    left: 0;
    top: 4px;
    width: 100%;
    height: 18px;
    background-position: center center;
    background-repeat: no-repeat;
}
aside.quick .quick_wrap ul li.kakao a::before {
    background-size: 15px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 15 14' fill='%232DA93C' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 13.2563C7.325 13.2563 7.14687 13.225 6.96562 13.1625C6.78437 13.1 6.625 13 6.4875 12.8625L5.19375 11.6813C3.86875 10.4688 2.67187 9.26563 1.60312 8.07188C0.534375 6.87813 0 5.5625 0 4.125C0 2.95 0.39375 1.96875 1.18125 1.18125C1.96875 0.39375 2.95 0 4.125 0C4.7875 0 5.4125 0.140625 6 0.421875C6.5875 0.703125 7.0875 1.0875 7.5 1.575C7.9125 1.0875 8.4125 0.703125 9 0.421875C9.5875 0.140625 10.2125 0 10.875 0C12.05 0 13.0312 0.39375 13.8187 1.18125C14.6062 1.96875 15 2.95 15 4.125C15 5.5625 14.4687 6.88125 13.4062 8.08125C12.3437 9.28125 11.1375 10.4875 9.7875 11.7L8.5125 12.8625C8.375 13 8.21562 13.1 8.03438 13.1625C7.85312 13.225 7.675 13.2563 7.5 13.2563ZM6.7875 3.075C6.425 2.5625 6.0375 2.17188 5.625 1.90313C5.2125 1.63438 4.7125 1.5 4.125 1.5C3.375 1.5 2.75 1.75 2.25 2.25C1.75 2.75 1.5 3.375 1.5 4.125C1.5 4.775 1.73125 5.46563 2.19375 6.19688C2.65625 6.92813 3.20937 7.6375 3.85312 8.325C4.49687 9.0125 5.15937 9.65625 5.84062 10.2563C6.52187 10.8563 7.075 11.35 7.5 11.7375C7.925 11.35 8.47812 10.8563 9.15937 10.2563C9.84062 9.65625 10.5031 9.0125 11.1469 8.325C11.7906 7.6375 12.3438 6.92813 12.8062 6.19688C13.2687 5.46563 13.5 4.775 13.5 4.125C13.5 3.375 13.25 2.75 12.75 2.25C12.25 1.75 11.625 1.5 10.875 1.5C10.2875 1.5 9.7875 1.63438 9.375 1.90313C8.9625 2.17188 8.575 2.5625 8.2125 3.075C8.125 3.2 8.01875 3.29375 7.89375 3.35625C7.76875 3.41875 7.6375 3.45 7.5 3.45C7.3625 3.45 7.23125 3.41875 7.10625 3.35625C6.98125 3.29375 6.875 3.2 6.7875 3.075Z'/%3E%3C/svg%3E%0A");
}
aside.quick .quick_wrap ul li.naver a::before {
    background-size: 12.76px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 13 13' fill='%232DA93C' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.8 10.9443C1.2375 10.3818 0.796875 9.73177 0.478125 8.99427C0.159375 8.25677 0 7.49427 0 6.70677C0 5.91927 0.15 5.14115 0.45 4.3724C0.75 3.60365 1.2375 2.88177 1.9125 2.20677C2.6625 1.45677 3.72187 0.888021 5.09062 0.500521C6.45937 0.113021 8.23125 -0.0494792 10.4062 0.0130208C10.7312 0.0255208 11.0312 0.0942708 11.3062 0.219271C11.5813 0.344271 11.825 0.513021 12.0375 0.725521C12.25 0.938021 12.4187 1.1849 12.5438 1.46615C12.6688 1.7474 12.7375 2.05052 12.75 2.37552C12.775 3.40052 12.7469 4.3474 12.6656 5.21615C12.5844 6.0849 12.4531 6.86927 12.2719 7.56927C12.0906 8.26927 11.8594 8.89115 11.5781 9.4349C11.2969 9.97865 10.9625 10.4443 10.575 10.8318C9.9125 11.4943 9.20938 11.9786 8.46563 12.2849C7.72188 12.5911 6.9625 12.7443 6.1875 12.7443C5.375 12.7443 4.58125 12.5849 3.80625 12.2661C3.03125 11.9474 2.3625 11.5068 1.8 10.9443ZM3.9 10.6443C4.2625 10.8568 4.63438 11.0099 5.01562 11.1036C5.39687 11.1974 5.7875 11.2443 6.1875 11.2443C6.7625 11.2443 7.33125 11.1286 7.89375 10.8974C8.45625 10.6661 8.99375 10.2943 9.50625 9.78177C9.73125 9.55677 9.95938 9.24115 10.1906 8.8349C10.4219 8.42865 10.6219 7.8974 10.7906 7.24115C10.9594 6.5849 11.0875 5.79115 11.175 4.8599C11.2625 3.92865 11.275 2.81927 11.2125 1.53177C10.6 1.50677 9.90938 1.4974 9.14062 1.50365C8.37187 1.5099 7.60625 1.56927 6.84375 1.68177C6.08125 1.79427 5.35625 1.97552 4.66875 2.22552C3.98125 2.47552 3.41875 2.81927 2.98125 3.25677C2.41875 3.81927 2.03125 4.37552 1.81875 4.92552C1.60625 5.47552 1.5 6.00677 1.5 6.51927C1.5 7.25677 1.64062 7.90365 1.92188 8.4599C2.20312 9.01615 2.45 9.40677 2.6625 9.63177C3.1875 8.63177 3.88125 7.6724 4.74375 6.75365C5.60625 5.8349 6.6125 5.08177 7.7625 4.49427C6.8625 5.28177 6.07812 6.1724 5.40938 7.16615C4.74062 8.1599 4.2375 9.31927 3.9 10.6443Z' /%3E%3C/svg%3E%0A");
}
aside.quick .quick_wrap ul li.green a::before {
    background-size: 15px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 15 15' fill='%232DA93C' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.875 6C1.55 6 1.28125 5.89375 1.06875 5.68125C0.85625 5.46875 0.75 5.2 0.75 4.875C0.75 4.55 0.85625 4.28125 1.06875 4.06875C1.28125 3.85625 1.55 3.75 1.875 3.75C2.2 3.75 2.46875 3.85625 2.68125 4.06875C2.89375 4.28125 3 4.55 3 4.875C3 5.2 2.89375 5.46875 2.68125 5.68125C2.46875 5.89375 2.2 6 1.875 6ZM3 12.75H9V9H7.6875C6.8 9 6.04687 8.69062 5.42812 8.07187C4.80937 7.45312 4.5 6.7 4.5 5.8125C4.5 5.15 4.67812 4.55938 5.03437 4.04063C5.39062 3.52188 5.85 3.1375 6.4125 2.8875C6.55 2.075 6.92812 1.39062 7.54687 0.834375C8.16562 0.278125 8.9 0 9.75 0C10.6 0 11.3344 0.278125 11.9531 0.834375C12.5719 1.39062 12.95 2.075 13.0875 2.8875C13.65 3.1375 14.1094 3.52188 14.4656 4.04063C14.8219 4.55938 15 5.15 15 5.8125C15 6.7 14.6906 7.45312 14.0719 8.07187C13.4531 8.69062 12.7 9 11.8125 9H10.5V12.75H13.5C13.7125 12.75 13.8906 12.8219 14.0344 12.9656C14.1781 13.1094 14.25 13.2875 14.25 13.5C14.25 13.7125 14.1781 13.8906 14.0344 14.0344C13.8906 14.1781 13.7125 14.25 13.5 14.25H1.5C1.2875 14.25 1.10937 14.1781 0.965625 14.0344C0.821875 13.8906 0.75 13.7125 0.75 13.5V10.5C0.6125 10.3625 0.453125 10.2531 0.271875 10.1719C0.090625 10.0906 0 9.95 0 9.75V7.5C0 7.2875 0.071875 7.10938 0.215625 6.96563C0.359375 6.82188 0.5375 6.75 0.75 6.75H3C3.2125 6.75 3.39062 6.82188 3.53437 6.96563C3.67812 7.10938 3.75 7.2875 3.75 7.5V9.75C3.75 9.95 3.65937 10.0906 3.47812 10.1719C3.29687 10.2531 3.1375 10.3625 3 10.5V12.75ZM7.6875 7.5H11.8125C12.2875 7.5 12.6875 7.3375 13.0125 7.0125C13.3375 6.6875 13.5 6.2875 13.5 5.8125C13.5 5.475 13.4094 5.16875 13.2281 4.89375C13.0469 4.61875 12.8 4.4125 12.4875 4.275L11.7 3.9375L11.5875 3.1125C11.5125 2.65 11.3031 2.26562 10.9594 1.95937C10.6156 1.65312 10.2125 1.5 9.75 1.5C9.2875 1.5 8.88437 1.65312 8.54062 1.95937C8.19687 2.26562 7.9875 2.65 7.9125 3.1125L7.8 3.9375L7.0125 4.275C6.7 4.4125 6.45312 4.61875 6.27187 4.89375C6.09062 5.16875 6 5.475 6 5.8125C6 6.2875 6.1625 6.6875 6.4875 7.0125C6.8125 7.3375 7.2125 7.5 7.6875 7.5Z' /%3E%3C/svg%3E%0A");
}
aside.quick .quick_wrap ul li.top a::before {
    background-size: 14.22px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 15 8' fill='%232DA93C' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.10624 2.04375L1.59374 7.55625C1.40624 7.74375 1.18749 7.83437 0.93749 7.82812C0.68749 7.82187 0.46874 7.725 0.28124 7.5375C0.0937395 7.35 -9.53674e-06 7.13125 -9.53674e-06 6.88125C-9.53674e-06 6.63125 0.0937395 6.4125 0.28124 6.225L6.03749 0.45C6.18749 0.3 6.35624 0.1875 6.54374 0.1125C6.73124 0.0374997 6.91874 -3.19243e-07 7.10624 -3.11047e-07C7.29374 -3.02851e-07 7.48124 0.0374997 7.66874 0.1125C7.85624 0.1875 8.02499 0.3 8.17499 0.45L13.95 6.225C14.1375 6.4125 14.2281 6.63438 14.2219 6.89062C14.2156 7.14687 14.1187 7.36875 13.9312 7.55625C13.7437 7.74375 13.525 7.8375 13.275 7.8375C13.025 7.8375 12.8062 7.74375 12.6187 7.55625L7.10624 2.04375Z' /%3E%3C/svg%3E%0A");
}
@media screen and (max-width:1440px){
    aside.quick {
        /*display: none;*/
        right: 5px;
        top: auto;
        bottom: 5%;
        box-shadow: 3px 3px 10px 0 rgba(0,0,0,0.1);
        border-radius: 50%;
    }
}/*@media끝*/