@font-face {
    font-family: 'KakaoSmallFont';
    src: url('../fonts/KakaoSmallSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'KakaoSmallFont';
    src: url('../fonts/KakaoSmallSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}