@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);
/*
    <li>
        <a></a> --- span 덮는 용도
        <span class="fp-tooltip"></span>
    </li>
*/

#fp-nav ul li {
    width: auto;
    height: auto;
    margin: 10px 0 10px 0;
    position: relative;
}
#fp-nav ul li a {
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid orange;
}
#fp-nav ul li a span {
    display: none;
}
#fp-nav ul li .fp-tooltip {
    position: relative;
    top: auto;
    left: auto;
    font-size: inherit;/*inherit상속받는것*/
    font-family: inherit;
    max-width: 100%;
    overflow: visible;
    opacity: 1;
    width: auto;
}


h2 {
    font-size: 60px;
    font-weight: 600;
    text-align: center;
}
.visual {
    background-color: blue;
    color: #fff;
}
.tree {
    
}
.work {
    background-color: brown;
    color: #fff;
}
.news {
    
}
footer {
    background-color: var(--color-title);
    color: #fff;
}

