/*************************
 * 파일명 : main.css
 * 작성자 : 김소연
 * 작성일 : 25-10-23
 * 설명 :   index파일 (메인페이지)에서만 호출하는 css
            메인페이지 (index)의 스타일이 이 페이지에서 선언됨 (header/footer 제외)
            defult.css (태그의 초기화 - 브라우저가 주는 기본 스타일 삭제)
            common.css (wrapper, blind처럼 모든 페이지에서 반복되는 기본 스타일
            -변수도 여기서 선언, 변수가 너무 많으면 var(베어리어벌)이라는 파일을 분리도 함)
            layout.css (문서의 구조에 영향을 끼치는 요소 - header/footer가 들어감)
************************/
@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

.visual {
    position: relative; /*scroll 정렬의 기준*/
}
.visual .popup {
    height: 100dvh;
}
.visual .popup .pop_slide {
    height: 100dvh;
    position: relative; /*photo 정렬의 기준*/
    /*txt를 slide의 하단에 배치 - 넓이가 100%*/
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.visual .popup .pop_slide .photo {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.visual .popup .pop_slide .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale3d(1.2, 1.2, 1);
    transition: transform 2s;
}
.visual .popup .pop_slide.slick-active .photo img {
    transform: scale3d(1, 1, 1);
}
.visual .popup .pop_slide .txt {
    color: #fff;
    margin-bottom: 247px;
}
.visual .popup .pop_slide .txt h2 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
    margin: 0 0 30px 0;
}

@media screen and (min-width:769px){ /*pc버전에서만 적용*/
    .visual .popup .pop_slide .txt .line {
        display: block;
        overflow: hidden;
    }
    .visual .popup .pop_slide .txt .line span {
        transform: translateY(100%); /*비쥬얼 안 폰트 위 아래라서 Y, %는 글자의 반땡*/
        display: block; /*뭐가안돼? 그럼 block줘봐*/
        transition: transform 0.5s;
        transition-delay: 0.3s;
    }
}

.visual .popup .pop_slide.slick-active .txt .line span { /*현재 보이는 팝업에는*/
    transform: translateY(0);
}
.visual .scroll {
    position: absolute;
    right: 0;
    bottom: 127px;
    color: #fff;
    font-size: 1.5rem;
    transform: rotate(90deg);
}
.visual .scroll::after {
    content: "";
    position: absolute;
    right: -18px;
    bottom: 8px;
    width: 10px;
    height: 10px;
    border-width: 1px 1px 0 0;
    border-style: solid;
    border-color: #fff;
    transform: rotate(45deg);
    animation: scroll 3s linear infinite; /*스크롤다운 화살표 왓다리갓다리*/
}
@keyframes scroll {
    0% {right: -18px;}
    50% {right: -56px;}
    100% {right: -18px;}
}
@media screen and (max-width:1024px){ /*태블릿(?)사이즈정도*/
    .visual .popup .pop_slide .txt h2 {
        font-size: 4.4rem;
    }
}
@media screen and (max-width:768px){
    .visual .popup .pop_slide {
        height: 900px;
    }
    .visual .popup .pop_slide .txt {
        margin-bottom: 56px;
    }
    .visual .popup .pop_slide .txt h2 {
        font-size: 3.2rem;
        margin: 0 0 21px 0;
    }
    .visual .popup .pop_slide .txt h2,
    .visual .popup .pop_slide .txt p {
        transform: translateY(50%);
        opacity: 0;
        transition: transform 1s, opacity 1s;
        transition-delay: 0.3s;
    } 
    .visual .popup .pop_slide.slick-active .txt h2,
    .visual .popup .pop_slide.slick-active .txt p {
        transform: translateY(0);
        opacity: 1;
    }
    .visual .popup .pop_slide .txt h2 .line {
        display: block; /*줄바꿈*/
    }
    .visual .scroll {
        display: none;
    }
}/*@media*/






footer {
    margin: 500px 0 0 0;
}
