@import url(common.css);
.global {
    margin: 151px 0 0 0;
}
.global h1 {
    font-size: 40px;
    font-weight: 700;
    color: #1d1d1d;
}
.global .sub_tit {
    color: #00b900;
    margin: 34px 0 22px 0;
}
.global a {
    color: #00b900;
    border: 1px solid #00b900;
    padding: 5px 32px;
    display: inline-block;
    margin: 27px 0 31px 0;
}
.global .photo {
    height: 194px;
    overflow: hidden;
}
.global .photo, 
.market .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.market {
    margin: 97px 0 0 0;
    background: url(../images/market02.jpg) no-repeat center center / cover;
    color: #fff;
    text-align: center;
    height: 639px;
}
.market h1 {
     font-size: 40px;
    font-weight: 700;
    padding: 247px 0 115px 0;
}
.market a {
    border: 1px solid #fff;
    padding: 5px 32px;
    display: inline-block;
    margin: 52px 0 38px 0;
}

